.app-admin-content {
    padding: 40px;
}

.admin-posts {
    .admin-post-card {
        border: 1px solid $light;
        border-radius: 10px;
        overflow: hidden;
        margin: 5px;
        width: 100%;

        .post-card-image {

        }

        .post-card-content {
            display: flex;

            img {
                width: 150px;
                height: 150px;
            }

            .card-content-text {
                display: flex;
                flex-direction: column;
                padding: 20px;

                p {
                    margin: 0;
                }
            }
        }
    }
}

.admin-category {
    .admin-category-card {
        border: 1px solid $light;
        margin-bottom: 20px;
        position: relative;
        border-radius: 10px;

        .category-card-header {
            padding: 20px;
            border-bottom: 1px solid $light;

            p {
                margin: 20px 0 0;
            }
        }

        .category-card-link {
            font-size: small;
        }

        .category-card-title {
            color: $gray;
            font-size: large;
            text-transform: uppercase;
            font-weight: bold;
        }

        .category-card-tags {
            border-bottom: 1px solid $light;
            padding: 0 0 20px;
            margin: 0;

            li::marker {
                color: $primary;
            }

            li {
                padding-left: 20px;
            }

            .card-tag-content {
                padding: 20px 10px 20px;
                border-bottom: 1px solid $light;
                position: relative;
            }
        }
    }
}

.admin-listing {
    margin: 0 40px 40px;

    .admin-listing-tops {
        display: flex;
        flex-direction: column-reverse;

        .select2-selection {
            border: 0 !important;
        }
    }

    .admin-listing-filters {
        display: flex;
        flex-direction: column;
        width: 200px;
        gap: 20px;
        padding-top: 20px;

        .filter-group {
            margin-bottom: 20px;

            h6 {
                border-bottom: 1px solid $gray;
                padding-bottom: 10px;
                margin-bottom: 20px;
            }
        }
    }

    .admin-listing-content {
        height: 80vh;
        width: 100%;
        overflow: scroll;
        padding: 20px 40px 40px;

        .admin-listing-item {
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 20px;
            border: 1px solid;
            position: relative;

            .admin-listing-info {
                width: 100%;
                margin: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                border: 1px solid $light;
                padding: 20px;
                border-radius: 10px;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }

                svg {
                    color: $orange;
                    font-weight: bold;
                }

                p {
                    margin: 0;
                }
            }

            .admin-listing-action {
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }
}

.admin-messages {
    margin: 20px;
    border: 1px solid $light;
    border-radius: 10px;
    overflow: scroll;
}
