.home {
    background-color: $home;

    .home-welcome {
        background-image: url("/resources/images/app/background.jpg");
        background-size: cover;
        background-position: center;
        height: 550px;
        position: relative;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

        @media only screen and (max-width: 600px) {
            height: 400px;
        }

        .welcome {
            text-align: center;

            p {
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 30px;
                padding: 20px 0 20px;
                background-color: rgba(0, 0, 0, 0.5);
            }

            h1 {
                color: #fff;
                text-shadow: 5px 5px #ce38e5;
                font-weight: bold;
                margin-top: 150px;
            }
        }
    }

    .home-description {
        padding: 80px 0 40px;

        .description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .description-content {
                padding: 20px;
            }
        }
    }

    .home-category {
        padding: 20px 0 100px;
        border-top: 1px solid $orange;

        .row {
            padding: 0 !important;
        }

        .home-category-cards {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        .scene {
            display: inline-block;
            height: 200px;
            perspective: 600px;

            .flippy {
                border: 0;
                position: relative;
                width: 100%;
                height: 100%;
                cursor: pointer;
                transform-style: preserve-3d;
                transform-origin: center right;
                transition: transform .4s;
                background-color: $orange;

                h3 {
                    padding: 10px;
                    font-size: 20px;
                }

                img {
                    width: 60px;
                    height: 60px;
                }
            }

            .flippy.is-flipped {
                transform: translateX(-100%) rotateY(-180deg);
            }

            .flippy__face {
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;
                font-weight: bold;
                backface-visibility: hidden;
            }

            .flippy__face--front {
                overflow-y: hidden;
                border-radius: 10px;
            }

            .flippy__face--front:hover {
                transform: scale(1.04);
                transition: .2s;
            }

            .flippy__face--back {
                transform: rotateY(180deg);
                border-radius: 20px;
                background-color: #fff;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .category-children {
            ul {
                padding: 0;

                li {
                    list-style-type: none;
                }
            }
        }
    }

    .home-top {
        h2 {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
            padding: 40px;
            background-color: rgba(173, 21, 141, 0.5);
        }

        .top-card {
            background-color: #fff;
            border: 1px solid $gray-300;
            border-radius: 10px;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            text-align: center;
            text-transform: uppercase;
            margin: 10px;
            overflow: hidden;

            .top-card-content {
                overflow: hidden;
                color: $gray;
                line-height: normal;
            }

            img {
                height: 200px;
                object-fit: cover;
            }
        }

        .top-card:hover {
            transform: scale(1.02);
            transition: .2s;
            border-color: $accent;
        }
    }

    .home-information {
        height: 900px;

        h2 {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            color: $standard;
            padding: 40px;
            border-bottom: 2px solid $pink;
            margin-bottom: 10px;

        }

        .home-information-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 60px;
        }
    }

    .home-comment {
        h2 {
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            color: $pink;
            padding: 20px;
        }

        background: rgb(2, 0, 36);
        background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(221, 221, 255, 1) 0%, rgba(187, 234, 251, 1) 0%, rgba(242, 126, 255, 1) 100%, rgba(0, 212, 255, 1) 100%);

        .reference {
            text-align: justify;
            margin-bottom: 100px;
            position: relative;

            h6 {
                margin-left: 10px;
            }

            .reference-title {
                position: absolute;
                bottom: 40px;
                padding-top: 10px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;

                h6 {
                    background-color: $pink;
                    color: #fff;
                    padding: 10px;
                    border-radius: 10px;
                }

                svg {
                    color: $primary;
                }
            }

            .reference-card {
                height: 600px;
                border-radius: 20px;
                margin: 40px;
                background-color: rgba(255, 255, 255, 0.2);

                .reference-card-body {
                    padding: 40px;
                }

                p {
                    font-size: 20px;
                    font-family: 'IBM Plex Sans', sans-serif;
                }
            }
        }
    }
}
