.app-listing-container {
    @include media-breakpoint-up(xl) {
        padding: 80px;
    }


    @include media-breakpoint-down(xl) {
        padding: 0;
    }
}

.app-listing-filters {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;

    @media only screen and (min-width: 1199px) {
        border-radius: 10px;
    }

    .listing-category-content {

        .category-tag {
            text-align: center;
            list-style-type: none;
            padding-bottom: 20px;

            .tag-link {
                color: $gray;
            }

            .tag-link-active {
                text-decoration: underline;
            }
        }
    }
}

.app-listing-content {
    flex-basis: 700px;
    flex-grow: 1;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    .app-listing-items {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        background-color: #fff;

        a {
            width: 100%;
        }

        @media only screen and (min-width: 1200px) {
            height: 100%;
            width: 100%;
            overflow: scroll;
            padding: 20px;
        }

        @media only screen and (min-width: 600px) and (max-width: 800px) {
            padding: 40px;
        }
    }


    .advert-category {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}


.app-listing {
    height: 100%;
    @media only screen and (max-width: 1199px) {
        .row > * {
            padding: 0;
        }
    }

    .accordion-button {
        display: flex;
        flex-direction: column;
        position: relative;

        &::after {
            margin: 0 !important;
            position: absolute;
            right: 40px;
        }

        .category-item-title {
            font-weight: bold;
            text-transform: uppercase;
            color: $gray;

            font-size: large;
        }
    }

    .pagination {
        @media only screen and (max-width: 600px) {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .page-link {
            border: 1px solid $light !important;
        }
    }

    .listing-information {
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid $light;

    }


    .tag-link {
        width: 100%;
    }

    .listing-search-card {
        padding: 20px;
    }


    .listing-category-card {
        border-left: 1px solid $light;
        border-right: 1px solid $light;
        position: relative;

        .category-card-header {
            padding: 20px;
        }

        .category-card-description {
            border-top: 1px solid $light;
            padding: 20px;

            p {
                color: $dark;
                font-size: large;
                margin: 0;
            }
        }

        .breadcrumb {
            margin: 0 !important;
        }

    }


    .app-listing-header {
        padding: 20px;
        border: 1px solid $gray-300;
        border-radius: 20px;
        margin-bottom: 60px;

        h1 {
            margin-bottom: 20px;
            font-weight: bold;
        }
    }


    .app-listing-pagination {
        padding: 20px;
    }
}

.company-adverts {
    width: 100%;

    .company-adverts-item {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $light;

        .adverts-item-title {
            text-overflow: ellipsis;
            color: $dark;
            max-width: 80%;
        }
    }
}


.advert-card {
    width: 100%;
    display: flex;
    column-gap: 30px;
    padding-bottom: 20px;
    max-height: 500px;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: center;
    }

    &:hover {
        transition: .02s;
    }

    .advert-card-thumbnail {
        height: 100%;

        img {
            border-radius: 20px;
            width: 400px;
            height: 250px;
            object-fit: cover;
            object-position: center;
        }
    }

    .advert-card-title {
        font-size: large;
        font-weight: bold;
        color: $dark;
        text-overflow: ellipsis;
        width: 100%;
    }


    .advert-card-content {
        color: $gray !important;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-breakpoint-down(md) {
            padding: 20px;
        }

        p {
            max-height: 200px;
        }

        @include media-breakpoint-down(md) {
            p {
                max-height: 100px;
            }
        }
    }

    .advert-card-company {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: large;

        span {
            color: $dark;
            font-size: larger;
        }
    }

    .advert-card-details {
        p {
            color: $gray !important;
        }

        .advert-card-location {
            font-size: small;
            position: absolute;
            bottom: 10px;
            right: 20px;
            margin: 0;
        }
    }

    .advert-card-description {
        position: relative;
        text-align: justify;
        font-size: small;
        padding-bottom: 20px;
        line-height: 20px;


        span {
            text-overflow: ellipsis;
            font-weight: normal;

        }
    }
}

.listing-search-container {
    @media only screen and (min-width: 1199px) {
        background-color: #fff;
    }
}

.app-listing-empty {
    display: flex;
    gap: 10px;
    align-items: center;

    @include media-breakpoint-down(lg) {
        align-items: center;
        flex-direction: column;
        padding-top: 40px;
    }

    svg {
        width: 40px;
        height: 40px;
    }

    span {
        text-transform: uppercase;
        font-family: monospace;
        font-size: large;
    }
}


.desktop-listing-filters {
    padding: 20px;

    @media only screen and (max-width: 1199px) {
        display: none;
    }
}

.mobile-listing-filters {
    border-bottom: 1px solid $light;
    background-color: #ffffff;

}


.mobile-listing-filters__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid $gray;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;

    &--title {
        text-transform: uppercase;
        font-family: monospace;
        font-weight: bold;
    }

    &--close {
        display: flex;
        justify-content: flex-end;

        svg {
            cursor: pointer;
            width: 25px;
            height: 25px;
        }
    }
}

.mobile-listing-filters__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 20px;

    &--item {
        flex-grow: 1;

        button {
            width: 100%;
            font-family: monospace;
            text-transform: uppercase;
            font-weight: bold;
            text-overflow: ellipsis !important;
        }
    }
}

.mobile-listing-filters__content {
    display: flex;
    gap: 20px;
    padding: 20px;

    @media only screen and (max-width: 700px) {
        flex-direction: column;
    }

    .mobile-listing-filters__buttons-col {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .mobile-listing-filters__active {
        width: 100%;
    }
}

.app-listing-content-container {
    @media only screen and (max-width: 1199px) {
        padding-top: 20px;
    }

}

.listing-search-content {
    padding-top: 20px;
}
