
.app-listing {
    background-color: #eeeeee;

    .accordion-button {
        display: flex;
        flex-direction: column;
        position: relative;

        &::after {
            margin: 0 !important;
            position: absolute;
            right: 40px;
        }

        .category-item-title {
            font-weight: bold;
            text-transform: uppercase;
            color: $blue;

            font-size: large;
        }
    }

    .pagination {
        .page-link {
            border: 1px solid $light !important;
        }
    }

    .listing-breadcrumbs {
        height: 95px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $light;

        .breadcrumb {
            margin: 0;
            padding: 0;

            .active {
                color: $pink;
                border-radius: 10px;
            }

            .breadcrumb-item {
                font-size: small;
                font-weight: bold;
                font-family: "Poppins", sans-serif;
                text-transform: uppercase;
            }
        }
    }

    .listing-information {
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid $light;

    }

    .app-filter-container {
        background-color: #ffff;
        padding: 0;

        @media only screen and (min-width: 1200px) {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border: 1px solid $gray;
            border-bottom: 0;

            .app-filter-mobile {
                display: none;
            }
        }

        .listing-category-title {
            padding: 40px;
        }

        .listing-category-content {
            .category-tag {
                text-align: center;
                list-style-type: none;

                .tag-link {
                    color: $gray;
                    padding-bottom: 10px;
                }
            }
        }
    }

    .app-listing-container {
        @media only screen and (min-width: 1200px) {
            padding-left: 40px;
        }


        .listing-container-content {
            @media only screen and (min-width: 1200px) {
                border: 1px solid $gray;
                border-bottom: 0;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }

            background-color: #fff;
        }
    }

    .tag-link {
        width: 100%;
    }

    .listing-search-card {
        padding: 20px;
    }


    .listing-category-card {
        border-left: 1px solid $light;
        border-right: 1px solid $light;
        position: relative;

        .category-card-header {
            padding: 20px;
        }

        .category-card-description {
            border-top: 1px solid $light;
            padding: 20px;

            p {
                color: $dark;
                font-size: large;
                margin: 0;
            }
        }

        .breadcrumb {
            margin: 0 !important;
        }

    }

    .app-listing-search {
        .content-search-results {
            height: 400px;
            overflow: scroll;

            .search-result-item {
                display: flex;
                border-top: 1px solid $light;

                img {
                    width: 200px;
                    height: 150px;
                    object-fit: cover;
                }

                .result-item-content {
                    padding: 20px;
                    color: $gray;
                    position: relative;
                    width: 100%;

                    h6 {
                        font-weight: bold;
                        margin-bottom: 10px;
                        color: #000;
                        text-transform: uppercase;
                    }

                    .item-content-company {
                        display: flex;
                        gap: 10px;
                        color: $gray;
                        font-size: small;
                    }

                    .item-content-category {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }

                    .item-content-address {
                        position: absolute;
                        bottom: 10px;
                    }
                }
            }

            .search-result-item:hover {
                h6 {
                    color: $accent;
                }
            }
        }
    }

    .app-listing-header {
        padding: 20px;
        border: 1px solid $gray-300;
        border-radius: 20px;
        margin-bottom: 60px;

        h1 {
            margin-bottom: 20px;
            font-weight: bold;
        }
    }


    .listing-content-pagination {
        padding: 30px 20px;
        border-bottom: 1px solid $light;
        height: 95px;
        display: flex;
        justify-items: center;

        @media only screen and (max-width: 1199px) {
            display: none;
        }

        .listing-pagination {
            display: flex;
            justify-items: center;
            width: 100%;

            nav {
                width: 100%;

                .page-item {
                    display: flex;
                    justify-content: center;
                    font-weight: bold;
                }

                .active {
                    span {
                        background-color: $secondary;
                    }
                }
            }
        }

        p {
            margin: 0;
        }

        .pagination {
            margin: 0;
        }

        .content-pagination-none {
            display: flex;
            align-items: center;
            padding-left: 30px;
        }
    }

    .app-listing-content {
        position: relative;

        @media only screen and (min-width: 1200px) {
            height: 820px;
            overflow: scroll;
            margin-right: 20px;
            padding: 20px 30px 20px 20px;
        }

        @media only screen and (max-width: 1199px) {
            border-top: 1px solid $gray;
            padding: 40px 20px;
        }


        .advert-card {
            @media only screen and (max-width: 800px) {
                flex-direction: column;

                .advert-card-image {
                    width: 100%;

                    img {
                        width: 100% !important;
                    }
                }

                .card-content-address {
                    position: relative !important;
                }
            }

            @media only screen and (min-width: 1200px) {

            }

            .advert-card-image {
                img {
                    width: 250px;
                    height: 250px;
                    object-fit: cover;
                }
            }

            display: flex;
            margin-bottom: 15px;
            border-radius: 10px;
            border: 1px solid $light;
            position: relative;
            overflow: hidden;


            .advert-card-description {
                max-height: 64px;
                overflow: hidden;
                position: relative;
                text-align: justify;
                padding-right: 30px;
                font-size: small;

                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-weight: bold;
                }
            }

            .advert-card-content {
                width: 100%;

                .card-content-header {
                    border-bottom: 1px solid $light;
                    padding: 20px;

                    h6 {
                        font-weight: bold;
                        margin-bottom: 10px;
                        color: #000;
                        text-transform: uppercase;
                    }

                    .content-header-company {
                        display: flex;
                        gap: 10px;
                        color: $gray;
                        font-size: small;
                    }
                }

                .card-content {
                    padding: 10px 20px 0;
                    color: $gray;

                    .card-content-address {
                        position: absolute;
                        bottom: 10px;
                    }
                }
            }
        }

        .advert-category {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .advert-card:hover {
            box-shadow: 0 0 2px 0 $accent;
        }
    }

    .app-listing-pagination {
        padding: 20px;
    }
}

.app-advert {
    margin-top: 120px;

    .advert-header {
        padding: 20px;
        border: 1px solid $gray-300;
        border-radius: 20px;
        margin-bottom: 20px;

        .advert-title {
            font-weight: bold;
            font-size: 32px !important;
            text-transform: uppercase;
        }
    }

    .advert-gallery {
        padding: 20px;

        img {
            width: 100%;
            height: 200px;
            border-radius: 20px;
            object-fit: cover;
        }
    }

    .advert-logo {
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .advert-contacts {
        width: 100%;

        .tab {
            margin-top: 20px;
        }

        .tab-page-content {
            border-top: 1px solid $light;
        }
    }

    .advert-description {
        margin-bottom: 20px;
        display: flex;
        gap: 20px;

        .advert-text {
            padding: 20px;
            border: 1px solid $gray-300;
            border-radius: 20px;
            text-align: justify;
        }
    }
}

.company-adverts {
    width: 100%;

    .company-adverts-item {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed $orange;
    }

    .company-adverts-item:hover {

    }
}
