.app-listing-container {
    padding: 80px;

    @include media-breakpoint-down(sm) {
        padding: 20px;
    }
}

.app-listing-filters {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;

    @include media-breakpoint-up(xl) {
        .app-listing-filters-sm {
            display: none;
        }
    }

    @include media-breakpoint-down(xl) {
        .app-listing-filters-lg {
            display: none;
        }
    }


    .listing-category-content {

        .category-tag {
            text-align: center;
            list-style-type: none;
            padding-bottom: 20px;

            .tag-link {
                color: $gray;
            }

            .tag-link-active {
                text-decoration: underline;
            }
        }
    }
}

.app-listing-content {
    flex-basis: 700px;
    flex-grow: 1;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    .app-listing-items {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        background-color: #fff;

        a {
            width: 100%;
        }

        @media only screen and (min-width: 1200px) {
            height: 100%;
            width: 100%;
            overflow: scroll;
            padding: 20px;
        }

        @media only screen and (min-width: 600px) and (max-width: 800px) {
            padding: 40px;
        }
    }

    .listing-content-pagination {
        background-color: #fff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 20px;

        .listing-pagination {
            width: 100%;
            position: relative;

            nav {
                width: 100%;


                .page-item {
                    display: flex;
                    justify-content: center;
                    font-weight: bold;
                }

                .pagination {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }

                .active {
                    span {
                        background-color: $secondary;
                    }
                }
            }
        }

        p {
            margin: 0;
        }

        .pagination {
            margin: 0;
        }

        .content-pagination-none {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            color: $blue;
            font-size: large;
            font-weight: bold;
        }
    }


    .advert-category {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}


.app-listing {
    height: 100%;
    @media only screen and (max-width: 1199px) {
        .row > * {
            padding: 0;
        }
    }

    .accordion-button {
        display: flex;
        flex-direction: column;
        position: relative;

        &::after {
            margin: 0 !important;
            position: absolute;
            right: 40px;
        }

        .category-item-title {
            font-weight: bold;
            text-transform: uppercase;
            color: $gray;

            font-size: large;
        }
    }

    .pagination {
        @media only screen and (max-width: 600px) {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .page-link {
            border: 1px solid $light !important;
        }
    }

    .listing-information {
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid $light;

    }


    .tag-link {
        width: 100%;
    }

    .listing-search-card {
        padding: 20px;
    }


    .listing-category-card {
        border-left: 1px solid $light;
        border-right: 1px solid $light;
        position: relative;

        .category-card-header {
            padding: 20px;
        }

        .category-card-description {
            border-top: 1px solid $light;
            padding: 20px;

            p {
                color: $dark;
                font-size: large;
                margin: 0;
            }
        }

        .breadcrumb {
            margin: 0 !important;
        }

    }


    .app-listing-header {
        padding: 20px;
        border: 1px solid $gray-300;
        border-radius: 20px;
        margin-bottom: 60px;

        h1 {
            margin-bottom: 20px;
            font-weight: bold;
        }
    }


    .app-listing-pagination {
        padding: 20px;
    }
}

.company-adverts {
    width: 100%;

    .company-adverts-item {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $light;

        .adverts-item-title {
            text-overflow: ellipsis;
            color: $dark;
            max-width: 80%;
        }
    }
}


.advert-card {
    width: 100%;
    display: flex;
    column-gap: 30px;
    padding-bottom: 20px;
    max-height: 500px;
    position: relative;
    overflow: hidden;

    &:hover {
        transition: .02s;
    }

    .advert-card-thumbnail {
        height: 100%;

        img {
            border-radius: 20px;
            width: 400px;
            height: 250px;
            object-fit: cover;
            object-position: center;
        }
    }

    .advert-card-title {
        font-size: large;
        font-weight: bold;
        color: $dark;
        text-overflow: ellipsis;
        width: 100%;
    }

    @media only screen and (max-width: 800px) {
        flex-direction: column;

        .advert-card-image {
            width: 100%;

            img {
                width: 100% !important;
                height: 250px;
                object-fit: cover;
                object-position: center;
            }
        }

        .card-content-address {
            position: relative !important;
        }
    }

    .advert-card-content {
        color: $gray !important;
        padding-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            max-height: 200px;
        }
    }

    .advert-card-company {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: large;

        span {
            color: $dark;
            font-size: larger;
        }
    }

    .advert-card-details {
        p {
            color: $gray !important;
        }

        .advert-card-location {
            font-size: small;
            position: absolute;
            bottom: 10px;
            right: 20px;
            margin: 0;
        }
    }

    .advert-card-description {
        position: relative;
        text-align: justify;
        font-size: small;
        padding-bottom: 20px;
        line-height: 20px;


        span {
            text-overflow: ellipsis;
            font-weight: normal;

        }
    }
}

.listing-search-container {
    background-color: #fff;
}

.app-listing-empty {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
        width: 30px;
        height: 30px;
    }

    span {
        font-size: large;
    }
}

