.partner-dashboard {

    .row > * {
        padding: 0;
    }

    .partner-advert-title {
        color: #000;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .partner-advert {
        margin-bottom: 20px;

        .partner-advert-url {
            padding: 20px;
        }

        .partner-advert-actions {
            display: flex;
            justify-content: space-between;
            padding: 20px 40px;
            border: 1px solid $gray;

            a {
                border-radius: 0 !important;
            }
        }


        .partner-advert-content {
            .app-card-header {
                text-align: start;
            }
        }

        .partner-advert-description {
            h6 {
                font-weight: bold;
                margin: 10px 0 30px;
            }
        }

        .partner-advert-gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .advert-gallery-item {
                margin-bottom: 20px;
                position: relative;
                flex-basis: 200px;
                flex-shrink: 1;

                img {
                    width: 100%;
                    height: 200px;
                    border-radius: 10px;
                    object-fit: contain;
                }

                .gallery-image-actions {
                    display: none;
                    top: 10px;
                    right: 10px;
                }
            }

            .advert-gallery-item:hover {
                transform: scale(1.06);
                transition: .2s;
                cursor: pointer;

                .gallery-image-actions {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    position: absolute;
                }
            }
        }

        .partner-advert-meta {
            .meta-keywords {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .keyword-item {
                    padding: 10px;
                    border: 1px solid $primary;
                    border-radius: 5px;
                    color: $gray;
                }
            }

        }
    }

    .company-logo {
        object-fit: contain;
        width: 200px;
        height: 200px;
    }

    .partner-company {
        background-color: #fff;

        .text-icon {
            border-bottom: 1px solid $light;
            padding: 20px;
        }
    }

}


.advert-gallery-count {
    border-bottom: 1px solid $light;
    margin-bottom: 20px;

    .gallery-count {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 10px;
    }
}
