.partner-dashboard {
    margin-top: 60px;
    height: 100vh;
    border: 1px solid $light;
    border-radius: 20px;
    padding: 40px;

    .partner-advert {
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid $light;
        border-radius: 10px;
    }
}
