.accordion-button-register.collapsed {
    color: #ffffff;
    background-color: $orange-300;
}

.btn-primary {
    color: #ffffff;
}

.btn-info {
    color: #ffffff;
}

.btn-primary:hover {
    color: #ffffff;
}

.auth {
    position: fixed;
    top: 20px;
    right: 20px;
}


.welcome {
    margin-top: 100px;

    h1 {
        margin-bottom: 25px;
    }



    .card-group {
        border-top: 1px solid;
        border-right: 1px solid;
        border-color: $gray-400;
        border-radius: 10px;

        img {
            margin-top: 60px;
            width: 100px;
        }

        .card {
            border: 0;


            .accordion-body {
                text-align: justify;
            }

            .accordion-button {
                font-weight: bold;
            }

            .register {
                color: #ffffff;
                margin-top: 20px;
                width: 100%;
                text-align: left;
            }
        }
    }
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}
