/* ---- reset ---- */

[x-cloak] {
    display: none;
}

body {
    margin: 0;
    top: 0;
}

canvas {
    display: block;
}


@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-bottom: 10px;
    color: #fff;
}

.nav-logo {
    padding: 15px;

    img {
        width: 50px;
    }
}

#tsparticles {
    position: absolute;
    top: 0;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.collapse,
.collapsing {
    overflow: auto;
    max-height: 50vh;
}

.accordion-button-register.collapsed {
    color: #ffffff;
    background-color: $warning;
}

.top-services {
    margin-top: 450px;
    margin-left: 10%;
    margin-right: 10%;

    h2 {
        margin-bottom: 50px;
    }

    a {
        text-decoration: none;
    }



    #topCarousel {
        margin-left: 80px;
        margin-right: 80px;
    }

    .carousel-control-prev {
        margin-left: -40px;
    }

    .carousel-control-next {
        margin-right: -40px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }

    .carousel-inner {

        .card-img-top {
            width: 100%;
            height: 15vh;
            object-fit: cover;
        }

        .card {
            margin: 10px;
            border: 0;
            background-color: transparent;

            .card-image-container {
                position: relative;

                .logo-carousel-item {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 10px;
                    background-color: $secondary;

                    img {
                        width: 40px;
                    }
                }
            }

            .card-title {
                color: $orange-500;
            }

            p {
                color: #fff;
            }



        }
    }

    @media (max-width: 767px) {
        .carousel-inner .carousel-item>div {
            display: none;
        }

        .carousel-inner .carousel-item>div:first-child {
            display: block;
        }
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    /* medium and up screens */
    @media (min-width: 768px) {

        .carousel-inner .carousel-item-end.active,
        .carousel-inner .carousel-item-next {
            transform: translateX(25%);
        }

        .carousel-inner .carousel-item-start.active,
        .carousel-inner .carousel-item-prev {
            transform: translateX(-25%);
        }
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }

}

.categories {

    border-top: solid 2px $warning;

    .col-6 {
        padding: 0;
    }

    .list-group {
        border-radius: 0px;

        .list-group-item {
            background-color: $secondary;
            color: $secondary;
        }

        .list-group-item:hover {
            color: $secondary;
        }

        .active {
            background-color: $primary;
        }

        a {
            border: 0;
            padding: 20px;
            font-family: 'IBM Plex Sans', sans-serif;
            margin-left: 10px;
        }
    }

    .tab-content {
        .tab-pane {

            .img-showcase {
                width: 100%;
                height: 20vh;
                object-fit: cover;
            }

            .category-description {
                text-align: justify;
                padding: 40px;
            }
        }
    }

    .offcanvas {
        img {
            width: 80px;
        }
    }
}

.listing {
    background: url('../images/blob-scene.svg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;


    h1 {
        padding-top: 100px;
        margin-bottom: 10px;
    }

    .card {
        max-height: 226px;
        z-index: 1;
        border: 0;

        .cover {
            width: 100%;
            height: 224px;
            object-fit: cover;
        }

        h5 {
            position: absolute;
            top: 10px;
            margin-bottom: 20px;
            color: $primary;
        }

        .description {
            position: absolute;
            text-align: justify;
            top: 40px;
            padding-right: 20px;
            max-height: 72px;
            overflow: hidden;


            p {
                line-height: 20px;
                font-size: 14px;
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }

        .location-box {
            color: $secondary;
            position: absolute;
            bottom: 2px;

            p {
                padding-top: 4px;
                font-size: smaller;
            }
        }
    }

    .filter-title {
        margin-bottom: 20px;
    }
}

.offcanvas {
    border: 0;
    background-color: transparent;
}


.breadcrumb {
    padding: 12px;


    --bs-breadcrumb-divider-color: #fff;

    a {
        color: #fff;
    }

    a:hover {
        text-decoration: underline;
    }
}

.auth {
    position: fixed;
    top: 0;
    left: 6rem;
    z-index: 300;

    .btn {
        border-radius: 0;
        border-bottom-right-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;

    }
}


.language {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 100;

    a {
        color: #fff;

        img {
            width: 30px;
            height: 30px;
            margin: 2px;
        }
    }

    img:hover {
        transform: scale(1.1);
    }

    .btn {
        margin-top: 10px;
        margin-left: 10px;
    }
}


.social-links {
    position: absolute;
    right: -1px;
    top: 40%;
    display: flex;
    flex-direction: column;
    background: $primary;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 5;

    &.fixed {
        position: fixed;
        top: 35%;
    }

    a {
        padding: 7px 10px;
        color: $secondary;

        &:hover {
            color: $secondary;
        }
    }
}



.list-group-item-child {
    margin-left: 20px;
    z-index: 20;

    .link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
        background-size: 0 2px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size .1s ease-in-out;
    }

    .link-underline:hover {
        background-size: 100% 3px;
        background-position: 0 100%
    }

    .link-underline-primary {
        background-image: linear-gradient(transparent, transparent), linear-gradient($primary, $primary)
    }

    a {
        color: $secondary;
    }
}

.list-group-item-parent {
    border: 0;
    background-color: $primary;

    a {
        color: #fff;
    }
}

.list-group-item-parent:hover {
    background-color: $purple-600;
    transition: .1s;
    transform: scaleX(1.04);
}

.location {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.pagination {
    .page-link {
        background-color: $primary;
        color: #fff;
    }
}


.filters {
    position: fixed;
    right: 0;
    top: 20%;
    z-index: 10;


    ul {
        background-color: $secondary;
        font-weight: bold;
        text-transform: uppercase;

        .dropdown-item {
            background: transparent;
            color: #fff;

            a {
                color: #fff;
            }
        }
    }

    .dropdown-menu {
        max-height: 20vh;
        padding: 20px;
        overflow-y: scroll;
        border-radius: 0;
    }

    .reset-filters {
        margin-top: 20px;
    }

}

.partner {
    h1 {
        color: $primary;
    }
}

.nav-logo-container {
    padding-top: 20px;
}

.navigation {
    width: 4.75rem;
    height: 100%;
}

.offcanvas {
    -webkit-transition: 0s ease all;
    -o-transition: 0s ease all;
    transition: 0s ease all;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}


@media only screen and (min-width : 767px) {

    .welcome {

        h1 {
            margin-top: 100px;
            margin-bottom: 200px;
            z-index: 10;
        }

        .accordion {
            background-color: transparent;
            --bs-accordion-border-width: 0;

            .card-group {
                background-color: transparent;
                border-color: $secondary;
                border-radius: 10px;


                .card {
                    border: 0;
                    background-color: transparent;

                    img {
                        animation: tilt-n-move-shaking 2s infinite;
                        width: 100px;
                        height: 100px;
                        margin-left: 70px;
                    }

                    img:hover {
                        transform: scale(1.5);
                        transition: 0.2s ease-in-out;
                        padding: 20px;
                    }


                    h2 {
                        color: #fff;
                    }

                    .accordion-collapse {
                        border: 0;
                    }

                    .accordion-button::after {
                        transform: none !important;
                        transition: none !important;
                        display: none
                    }

                    .accordion-button:focus {
                        box-shadow: none;
                        border-color: rgba(0, 0, 0, .125);
                    }

                    .accordion-item {
                        background-color: transparent;
                        border: 0;

                        .accordion-button {
                            border: 0;
                        }
                    }

                    .accordion-body {
                        text-align: justify;
                        color: #ffffff;
                        border: 0;
                        padding: 0;
                        margin-top: 50px;
                    }

                    .accordion-button {
                        font-weight: bold;
                        background-color: transparent;
                        border: 0;
                        padding: 0;
                    }

                    .accordion-header {
                        color: #fff;
                        margin-bottom: 30px;
                    }

                    .accordion-header::before {
                        content: url('../images/right-arrow.svg');
                        position: absolute;
                        left: 20px;
                        top: 100px;
                        width: 30px;
                        height: 30px;
                    }

                    .register {
                        color: #ffffff;
                        margin-top: 20px;
                        width: 100%;
                        text-align: left;
                    }

                    .card-footer {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}



@media only screen and (max-width : 1800px) {
    .filters {
        .btn-text {
            display: none;
        }
    }
}

// Applies Up To Medium
@media only screen and (max-width : 1200px) {

    .navigation {
        width: 100%;
        height: 100%;

        .close-container {
            right: 20px;
            top: 15px;
        }

        i {
            padding: 10px;
        }
    }

    .nav-logo-container {
        padding-bottom: 20px;
    }


    .list-group-item-child {
        font-size: small;
    }



}



// Applies After Medium
@media only screen and (min-width : 1200px) {

    .navigation {

        .nav-sm-text {
            display: none;
        }

        .nav-sm-close {
            display: none;
        }

        .nav-link {
            justify-content: center;
        }
    }

    .cookies {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        padding: 20px;
        background-color: $secondary;
        z-index: 400;
        color: #fff;

        img {
            width: 80px;
        }

        .btn-group {
            padding: 30px 20px 0px 30px;

            button {
                border-radius: 10px;
            }
        }

        p {
            font-size: small;
        }

        h2 {
            text-align: start;
            text-transform: uppercase;
        }
    }

}

// Applies Before Medium
@media only screen and (max-width : 1200px) {

    .navigation {
        .container {
            padding-top: 10px;


            .nav-sm-text {
                margin-bottom: 0px !important;
                text-transform: uppercase;
            }

            .nav-sm-close {
                position: absolute;
                top: 10px;
                right: 10px;
            }

            .nav-link {
                i {
                    width: 16px;
                    height: 16px;
                }
            }

            .nav {
                margin-top: 20px;
            }
        }
    }


    .cookies {
        position: fixed;
        bottom: 0;
        padding: 20px;
        background-color: $secondary;
        z-index: 400;
        color: #fff;
        width: 100%;

        img {
            width: 40px;
        }

        .btn-group {
            padding: 30px 20px 0px 30px;

            button {
                border-radius: 10px;
            }
        }

        p {
            font-size: small;
        }

        h2 {
            text-align: start;
            text-transform: uppercase;
        }
    }

}

// Applies Not Small
@media only screen and (min-width : 992px) {
    .btn-category-filter {
        display: none;
    }

    .partner-listing {
        margin-top: 100px;
    }

    .breadcrumb {
        margin-bottom: 100px;
    }


}

// Applies Small
@media only screen and (max-width : 767px) {

    .top-services {
        margin-top: 50%;
    }

    .listing {

        .breadcrumb {
            font-size: smaller;
        }

        .card {
            max-height: 400px;
            height: 400px;

            h5 {
                padding: 10px;
                font-size: medium;
                color: $primary;
                border-bottom-right-radius: 10px 10px;
                top: 230px;
                left: 6px;
            }

            .cover {
                filter: brightness(80%);
                border-radius: 0px;

                border-radius: 10px;
            }

            .description {
                top: 270px;
            }

            .location-box {
                top: 10px;
                color: #fff;
            }
        }
    }

    .welcome {

        h1 {
            margin-top: 70px;
            z-index: 10;
            font-size: xx-large;
        }

        .accordion {
            background-color: transparent;
            --bs-accordion-border-width: 0;

            .card-group {
                background-color: transparent;
                border-color: $secondary;
                border-radius: 10px;


                .card {
                    border: 0;
                    background-color: transparent;


                    img {
                        animation: tilt-n-move-shaking 2s infinite;
                        display: block;
                        margin-left: 90px;
                        margin-top: 20px;
                        width: 50px;
                    }


                    h2 {
                        color: #fff;
                        font-size: small;
                        width: 100%;
                    }

                    .accordion-collapse {
                        border: 0;
                    }

                    .accordion-button::after {
                        transform: none !important;
                        transition: none !important;
                        display: none
                    }

                    .accordion-button:focus {
                        box-shadow: none;
                        border-color: rgba(0, 0, 0, .125);
                    }

                    .accordion-item {
                        background-color: transparent;
                        border: 0;

                        .accordion-button {
                            border: 0;
                        }
                    }

                    .accordion-body {
                        text-align: justify;
                        color: #ffffff;
                        border: 0;
                        padding: 0;
                        margin-top: 50px;
                    }

                    .accordion-button {
                        font-weight: bold;
                        background-color: transparent;
                        border: 0;
                        padding: 0;

                    }

                    .accordion-header {
                        color: #fff;
                        margin-top: 50px;
                    }

                    .accordion-header::before {
                        content: url('../images/right-arrow.svg');
                        position: absolute;
                        left: 20px;
                        top: 60px;
                        width: 30px;
                        height: 30px;
                    }

                    .register {
                        color: #ffffff;
                        margin-top: 20px;
                        width: 100%;
                        text-align: left;
                    }

                    .card-footer {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 576px) {
    .filters {
        ul {
            text-align: end;
        }
    }
}
