/* ---- reset ---- */
body {
    margin: 0;
    top: 0;
}

canvas {
    display: block;
}


@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-bottom: 10px;
}

.nav-logo {
    padding: 15px;

    img {
        width: 50px;
    }
}

#tsparticles {
    position: absolute;
    top: 0;
    height: 100%;
    background-image: url("../images/rose-petals.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.collapse,
.collapsing {
    overflow: auto;
    max-height: 50vh;
}

.accordion-button-register.collapsed {
    color: #ffffff;
    background-color: $orange-300;
}

.btn-primary {
    color: #ffffff;
}

.btn-secondary {
    color: #ffffff;
}

.btn-info {
    color: #ffffff;
}

.btn-primary:hover {
    color: #ffffff;
}

.welcome {
    height: 770px;

    h1 {
        margin-top: 100px;
        z-index: 10;
    }

    .accordion {
        background-color: transparent;
        --bs-accordion-border-width: 0;

        .card-group {
            background-color: transparent;
            border-color: $gray-400;
            border-radius: 10px;
            margin-top: 300px;

            .card {
                border: 0;
                background-color: transparent;

                img {
                    animation: tilt-n-move-shaking 2s infinite;
                    width: 200px;
                    height: 200px;
                }

                img:hover {
                    transform: scale(1.5);
                    transition: 0.2s ease-in-out;
                    padding: 20px;
                }


                h2 {
                    color: #fff;
                }

                .accordion-collapse {
                    border: 0;
                }

                .accordion-button::after {
                    transform: none !important;
                    transition: none !important;
                    display: none
                }

                .accordion-button:focus {
                    box-shadow: none;
                    border-color: rgba(0, 0, 0, .125);
                }

                .accordion-item {
                    background-color: transparent;
                    border: 0;

                    .accordion-button {
                        border: 0;
                    }
                }

                .accordion-body {
                    text-align: justify;
                    color: #ffffff;
                    border: 0;
                    padding: 0;
                }

                .accordion-button {
                    font-weight: bold;
                    background-color: transparent;
                    border: 0;
                }

                .accordion-header {
                    color: $gray-300;
                    margin-bottom: 30px;

                }

                .accordion-header::after {
                    content: url('../images/right-arrow.svg');
                    position: absolute;
                    right: 20px;
                    width: 30px;
                    height: 30px;
                }

                .register {
                    color: #ffffff;
                    margin-top: 20px;
                    width: 100%;
                    text-align: left;
                }

                .card-footer {
                    background-color: transparent;
                }
            }
        }
    }
}

.top-services {
    margin-top: 450px;
    margin-left: 10%;
    margin-right: 10%;

    h2 {
        margin-bottom: 50px;
    }

    a {
        text-decoration: none;
    }



    #topCarousel {
        margin-left: 80px;
        margin-right: 80px;
    }

    .carousel-item {

        .card {
            background-color: transparent;

            .card-body {
                background-image: url('../images/blob-scene.svg');
                background-size: cover;
            }
        }

        .card:hover {
            transform: scale(1.1);
            transition: 0.1s;
            padding: 10px;
        }
    }

    .carousel-control-prev {
        margin-left: -40px;
    }

    .carousel-control-next {
        margin-right: -40px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }

    .carousel-inner {

        .card-img-top {
            width: 100%;
            height: 15vh;
            object-fit: cover;
        }

        .card {
            margin: 10px;
            border: 0;
            border-radius: 0;
            color: #ffffff;

            .card-footer {
                background-color: rgba(0, 0, 0, .125);
            }

            blockquote {
                color: #ffffff;
            }
        }
    }

    @media (max-width: 767px) {
        .carousel-inner .carousel-item>div {
            display: none;
        }

        .carousel-inner .carousel-item>div:first-child {
            display: block;
        }
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    /* medium and up screens */
    @media (min-width: 768px) {

        .carousel-inner .carousel-item-end.active,
        .carousel-inner .carousel-item-next {
            transform: translateX(25%);
        }

        .carousel-inner .carousel-item-start.active,
        .carousel-inner .carousel-item-prev {
            transform: translateX(-25%);
        }
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }

}

.categories {

    border-top: solid 2px $orange-700;

    .col-6 {
        padding: 0;
    }

    .list-group {
        border-radius: 0px;

        .list-group-item {
            background-color: $gray-900;
            color: $gray-400;
        }

        .list-group-item:hover {
            color: $gray-100;
        }

        .active {
            background-color: $purple-500;
        }

        a {
            border: 0;
            padding: 20px;
            font-family: 'IBM Plex Sans', sans-serif;
            margin-left: 10px;
        }
    }

    .tab-content {
        .tab-pane {

            .img-showcase {
                width: 100%;
                height: 20vh;
                object-fit: cover;
            }

            .category-description {
                text-align: justify;
                padding: 40px;
            }
        }
    }

    .offcanvas {
        img {
            width: 80px;
        }
    }
}

.listing {
    background: url('../images/blob-scene.svg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;


    h1 {
        padding-top: 100px;
        margin-bottom: 10px;
    }

    .card {
        max-height: 226px;

        .cover {
            width: 100%;
            height: 225px;
            object-fit: cover;
        }

        h5 {
            margin-bottom: 20px;
            color: $orange-500;
        }

        .description {
            text-align: justify;
            padding-right: 20px;
            margin-bottom: 55px;
        }

        .location-box {
            border-top: solid 1px;
            color: $gray-700;

            p {
                padding-top: 4px;
                font-size: smaller;
            }
        }
    }

    .filter-title {
        margin-bottom: 20px;
    }
}


.breadcrumb {
    padding: 12px;
    margin-bottom: 100px;

    --bs-breadcrumb-divider-color: #fff;

    a {
        color: #fff;
    }

    a:hover {
        text-decoration: underline;
    }
}

.auth {
    position: fixed;
    top: 0;
    left: 6rem;
    z-index: 100;

    .btn {
        border-radius: 0;
        border-bottom-right-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;

    }
}


.language {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 20px;

    a {
        color: #fff;

        img {
            width: 30px;
            height: 30px;
            margin: 10px;
        }
    }

    img:hover {
        transform: scale(1.1);
    }

    .btn {
        margin-top: 10px;
        margin-left: 10px;
    }
}


.social-links {
    position: absolute;
    right: -1px;
    top: 40%;
    display: flex;
    flex-direction: column;
    background: $purple-500;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 5;

    &.fixed {
        position: fixed;
        top: 35%;
    }

    a {
        padding: 7px 10px;
        color: $gray-700;

        &:hover {
            color: $gray-100;
        }
    }
}



.list-group-item-child {
    margin-left: 20px;
}

.list-group-item-parent {
    background-color: $purple-500;
    border: 0;

    a {
        color: #fff;
    }
}

.location {
    width: 20px;
    height: 20px;

    margin-right: 8px;
}
