@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


html,
body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
    background-color: $green-500;
    background-image: linear-gradient($gray-300, $purple-800);
}

.parallax__group_welcome {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}

.parallax__group_services {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}

// Applies Small
@media only screen and (max-width : 767px) {
    .parallax__group_welcome {
        height: 1100px;
    }

    .parallax__group_services {
        height: 700px;
    }

}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.blob {
    background: url('../images/blob-scene.svg') no-repeat center;
    background-size: cover;
    transform: translateZ(-600px) scale(3);
    z-index: 1;
}

.grid {
    background: url('../images/layered-peaks-haikei.svg') no-repeat center;
    background-size: cover;
    transform: translateZ(-600px) translateY(100px) scale(3);
    z-index: -1;
}

.box-top {
    background: url('../images/layered-steps-inverted-haiki.svg') no-repeat center;
    background-size: cover;
    transform: translateY(-300px) scale(1);
    z-index: 1;
}

.box {
    background: url('../images/layered-steps-haikei.svg') no-repeat center;
    background-size: cover;
    transform: translateY(300px) scale(1);
    z-index: 1;
}

.hero-text {
    background: linear-gradient(rgba(105, 211, 252, 0.25) 0%,
            rgba(255, 116, 161, 0.25) 86%,
            rgba(1, 0, 0, 0.25) 100%);
    background-size: cover;
    transform: translateZ(0) scale(1);
    z-index: 7;
}

.hero-text-two {
    background-size: cover;
    transform: translateZ(0) scale(1);
    z-index: 7;
}

.hero {
    overflow-y: hidden;
    overflow-x: hidden
}
