@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
    background-image: linear-gradient($primary, $secondary);

}

.parallax__group_welcome {
    position: relative;
    height: 1050px;
    width: 100%;
    transform-style: preserve-3d;
}

.parallax__group_services {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}

// Applies Small
@media only screen and (max-width : 767px) {
    .parallax__group_welcome {
        height: 750px;
    }

    .parallax__group_services {
        height: 850px;
    }


    .peaks {
        background: url('../images/layered-peaks-haikei.svg') no-repeat center;
        background-size: cover;
        height: 100%;
        transform: translateZ(-600px) translateY(-50px) scale(3);
        border-bottom: 30px solid $primary;

    }
}

@media only screen and (min-width : 767px) {
    .peaks {
        background: url('../images/layered-peaks-haikei.svg') no-repeat center;
        background-size: cover;
        height: 100%;
        transform: translateZ(-600px) translateY(550px) scale(3);
        border-bottom: 30px solid $primary;

    }
}


@media only screen and (max-height : 901px) {
    .parallax__group_welcome {
        height: 900px;
    }
}

@media only screen and (min-height : 1200px) {
    .parallax__group_services {
        height: 1200px;
    }
}


.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.blob {
    background: url('../images/blob-scene.svg') no-repeat center;
    background-size: cover;
    background-position: bottom;
    transform: translateZ(-600px) translateY(-260px) scale(3);
    z-index: 1;
}



.hero-text {
    background: linear-gradient(rgba(0, 183, 255, 0.321) 0%,
            rgba(203, 62, 130, 0.421) 86%,
            rgba(255, 4, 4, 0.591) 100%);
    background-size: cover;
    transform: translateZ(0) scale(1);
    z-index: 7;
}

.hero-text-two {
    background-size: cover;
    transform: translateZ(0) scale(1);
    border-bottom: 10px solid $premium;

}

.hero {
    overflow-y: hidden;
    overflow-x: hidden
}
