@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

$theme-colors: (
    "primary": $purple-500,
    "secondary": $gray-900,
    "accent": $gray-700,
    "info": $info,
    "warning": $orange-700,
    "danger": $red-500,
    "success": $green-400,
    "light": $light,
    "dark": $dark
);

.tippy-box[data-theme~='navigation'] {
    background-color: $orange-500;
    padding: 8px;
    border-radius: 0px 10px 0px 10px;
    color: #ffffff;
}

.tippy-box[data-theme~='category-door'] {
    background-color: $purple-300;
    padding: 8px;
    border-radius: 0px 10px 0px 10px;
    color: #ffffff;
}