@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

// Keep seperated : https://stackoverflow.com/a/68860725

$primary: $purple-500;
$info: $cyan-500;
$secondary: $gray-900;
$accent: $orange-400;
$warning: $orange-700;
$danger: $red-500;
$success: $green-400;

$standard: $green-500;
$premium: $orange-500;
$exclusif: $red-500;

$transparent: rgba(0, 0, 0, 0.4);

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "accent": $accent,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "success": $success,
    "light": $light,
    "dark": $dark,
    "standard": $standard,
    "premium": $premium,
    "exclusif": $exclusif,
    "opaque": $transparent,
);

$offcanvas-horizontal-width: auto;

.tippy-box[data-theme~='navigation'] {
    background-color: $orange-500;
    padding: 8px;
    border-radius: 0px 10px 0px 10px;
    color: #ffffff;
}

.tippy-box[data-theme~='category-door'] {
    background-color: $purple-300;
    padding: 8px;
    border-radius: 0px 10px 0px 10px;
    color: #ffffff;
}
