$white: #ffffff;
$black: #000000;

$orange: #ec7f00;
$orange-ff: #ffc64b;
$orange-f: #fe8a02;
$oranfe-dark: #e96900;
$grey-33: #333333;
$grey-35: #353535;
$grey-19: #191919;
$grey-25: #2e2c2c;
$grey-40: #403f3d;
$grey-96: #969696;
$grey-d1: #d1d1d1;
$grey-b4: #b4b4b4;
$grey-e6: #e6e6e6;
$grey-ec: #ecf3fa;
$blue: #007bc2;
$green: #b1d236;
$aqua: #02c7b4;
$pink: #ed3472;
