@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

// Components
@import "components/tab";
@import "components/input";
@import "components/file";
@import "components/editor";
@import "components/card";
@import "components/modal";
@import "components/button";
@import "components/icon";
@import "components/service";
@import "components/nav";
@import "components/auth";
@import "components/carousel";
@import "components/accordion";
@import "components/checkbox";
@import "components/select";
@import "components/notification";
@import "components/statistic";
@import "components/repeater";
@import "components/table";
@import "components/logo";
@import "components/textarea";
@import "components/plan";
@import "components/title";
@import "components/mobile";
@import "components/map";

// Pages
@import "pages/home";
@import "pages/listing";
@import "pages/partner";
@import "pages/admin";

.map {
    width: 100% !important;
}

@media only screen and (max-width: 900px) {
    .carousel__frame {
        display: none;
    }

    .carousel__mobile {
        display: block;

        .carousel__mobile-content {
            display: flex;
            flex-wrap: wrap;

            .mobile-top-card {
                width: 50%;
                margin-bottom: 20px;
            }

            @media only screen and (max-width: 600px) {
                flex-wrap: nowrap;
                flex-direction: column;

                .mobile-top-card {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width: 901px) {
    .carousel__mobile {
        display: none;
    }
}

[x-cloak] {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
}

a {
    text-decoration: none;
}

body, html {
    height: 100%;

    .app-content {
        padding-top: 82px;
        overflow-x: hidden;

        @media only screen and (max-width: 1199px) {
            padding-top: 56px;
        }

        background-color: #eeeeee;
    }

    .app-main-listing {
        width: 100%;
    }

    .app-listing-title {
        margin: 80px 0;
    }

    .app-locale-active {
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    .app-action {
        @media only screen and (max-width: 1200px) {
            width: 100%;
        }

        .app-action-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .app-action-icon {
                color: #fff;
                margin: 0 20px;
            }
        }


        a {
            width: 100%;
        }

        a, button {
            padding: 10px;
            border-radius: 0;
            text-transform: uppercase;
            font-family: monospace;
            font-weight: bold;
        }
    }
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;


    .footer-box {
        border: 2px solid $primary;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom: 0;
    }

    ul {
        margin-top: 20px;
        padding: 0;

        li {
            list-style-type: none;

            a {
                color: $gray-700;
            }

            a:hover {
                border-bottom: 1px solid $primary;
            }
        }
    }

    h5 {
        margin-top: 40px;
        font-size: large;
        font-weight: bold;
    }

    .subscribe {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 20px;
        margin-top: 40px;
        border: 1px $primary;
        border-bottom: 0;
        color: #fff;

        .input-group {
            padding-right: 20px;
        }
    }
}

.btn-primary:hover {
    color: #fff;
}

.btn-primary:active {
    color: #fff;
}


.bg-shiny {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, $blue 15%, $pink 25%, $gray 25%, $orange 80%);
    -webkit-animation: AnimateBG 3s ease infinite;
    animation: AnimateBG 10s ease infinite;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .2s ease-in-out;
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

.link-underline-primary {
    background-image: linear-gradient(transparent, transparent), linear-gradient($blue, $blue);
}
