
.btn-primary:hover {
    color: #fff;
}

.btn-primary:active {
    color: #fff;
}


[x-cloak] {
    display: none;
}


html, body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $gray-700;
}


.pb-logo {
    img {
        margin: 10px;
        padding: 10px;
        width: 80px;
    }
}

.listing-card-title {
    border-bottom: 1px solid $primary;
    padding-bottom: 5px;
}

.sitemap-section {
    h1 {
        margin-bottom: 100px;
    }

    @media only screen and (max-width: 767px) {
        h1 {
            margin-top: 140px;
            margin-bottom: 80px;
        }
        .card {
            margin-bottom: 20px;
        }
    }


    .card {
        padding: 20px;
        border: 1px dashed $primary;

        ul {
            color: $primary;

            a {
                color: $gray-700;
            }
        }

        ul li a:hover {
            color: $primary;
        }

        h3 {
            margin-bottom: 20px;
        }
    }
}

.terms-section {

    .terms-list {
        border: 2px dashed $primary;
        border-radius: 20px;
        margin-bottom: 200px;
    }

    ol {
        padding: 0;

        li {
            list-style-type: none;
            padding: 40px;
            text-align: center;
            @media only screen and (min-width: 767px) {
                padding: 80px 300px;

            }


            span {

                b {
                    text-transform: uppercase;
                    border-bottom: 1px solid $primary;
                    color: $gray-700;

                }
            }

        }
    }

}

footer {
    margin-top: 120px;

    .footer-box {
        border: 2px solid $primary;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom: 0;
    }

    ul {
        margin-top: 20px;
        padding: 0;

        li {
            list-style-type: none;

            a {
                color: $gray-700;
            }

            a:hover {
                border-bottom: 1px solid $primary;
            }
        }
    }

    h5 {
        margin-top: 40px;
        font-size: large;
        font-weight: bold;

    }

    .subscribe {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 20px;
        margin-top: 40px;
        border: 1px $primary;
        border-bottom: 0;
        color: #fff;

        .input-group {
            padding-right: 20px;
        }
    }
}

a {
    text-decoration: none;
}

.main-content {
    height: 100%;

    @media only screen and (min-width: 767px) {
        padding-top: 40px;
    }
}


.socials {
    z-index: 800;
    margin-right: 150px;

    @media only screen and (max-width: 767px) {
        padding: 15px 5px 5px;
        margin-right: 100px;

        img {
            width: 15px;
        }
    }

    a {
        margin-bottom: 10px;

        img {
            width: 30px;
            margin-left: 10px;
        }
    }

}

.btn-secondary {
    background-color: #fff;
    border: 1px solid $secondary;
    color: $gray-700 !important;

}

.btn-secondary:hover {
    background-color: $secondary;
    color: #fff !important;
}

.btn-accent:hover {
    color: #fff;
}

.about {
    @media only screen and (max-width: 767px) {
        margin-top: 100px;

        h1 {
            padding: 20px;
        }
    }


    .about-concept {
        border-bottom: 1px solid $primary;
        font-size: large;
        padding-bottom: 10px;
    }

    h1 {
        font-weight: bold;
        text-align: center;
        color: $gray-900;
    }

    h2 {
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
        color: $gray-700;
    }


    h3 {
        text-transform: uppercase;
        margin-top: 30px;
    }

    @media only screen and (max-width: 767px) {
        h1 {
            font-size: 30px;
        }

        .about-logo {
            padding: 10px;
            width: 10px;
            margin-right: 20px;

        }
    }

    @media only screen and (min-width: 1200px) {
        h1 {
            margin-right: 30px;
        }
    }


    .about-logo {
        width: auto;
        height: auto;

        border: 1px solid $primary;
        border-radius: 20px;
        padding: 20px;
        margin-top: 20px;
    }

    .about-stats-text {
        padding-left: 50px;
        padding-right: 50px;
        font-size: small;
        text-align: center;
    }


    .about-main {
        padding: 40px;


    }


    h1 {
        margin-top: 20px;
    }


    .stats {
        img {
            width: 50px;
            margin: 20px;
        }
    }

    .description {
        text-align: justify;
        margin-top: 20px;
        margin-bottom: 20px;

        .about-stats-card {
            border: 1px solid $gray-300;
            border-radius: 20px;
            padding: 10px;
            margin-top: 60px;
            @media only screen and (max-width: 767px) {
                margin-top: 20px;
            }
        }
    }

    .all-advantages {
        @media only screen and (min-width: 767px) {
            padding: 40px;
        }


        h2 {
            margin-bottom: 20px;
        }
    }

    .team-section {
        cursor: pointer;
        border: 1px solid $primary;
        border-top: 0;
        @media only screen and (max-width: 1200px) {
            margin: 0;


            h3 {
                text-align: center;
            }

            p {
                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 20px;
            }
        }

        .team {
            text-align: justify;

            .team-card {
                border-radius: 20px;
                margin: 20px;
            }

            .accordion-item {
                padding: 0;
            }

            .accordion-button {
                text-transform: uppercase;
                font-weight: bold;
                background-color: transparent;
                text-align: center;
                color: $primary;
            }


            img {
                object-fit: cover;
                width: 200px;
                height: 200px;
                margin: 20px;
            }

            p {
                padding-right: 20px;
                padding-left: 20px;

                margin-bottom: 30px;
            }
        }

    }

    .partner-advantage-section {
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border: solid $primary 2px;
        border-bottom: 0;

        @media only screen and (min-width: 767px) {
            padding: 100px;
        }

        @media only screen and (max-width: 767px) {
            padding: 80px 20px 60px;
        }

        .become-partner-btn {
            margin-bottom: 40px;
        }
    }

    .partner-advantage {
        border: 1px solid $gray-300;
        border-radius: 20px;
        margin-bottom: 20px;
        height: 200px;


        @media only screen and (max-width: 767px) {
            height: auto;
            font-size: small;
        }

        .advantage-img-container {
            background-color: rgba(0, 0, 0, 0.2);
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            margin-right: 40px;

            img {
                width: 50px;
                margin: 20px;
            }
        }


        .partner-advantage-text {
            display: flex;
            width: 100%;
            justify-content: start;
            align-items: start;

            ul {
                padding: 0;
                margin-top: 20px;

                li {
                    text-align: start;
                    list-style-type: square;
                    margin-bottom: 15px;
                    margin-right: 40px;
                    padding-bottom: 10px;

                    @media only screen and (max-width: 767px) {
                        border-bottom: 2px dashed $gray-400;
                    }
                }

                li::marker {
                    color: $primary;
                    font-weight: bolder;
                }
            }
        }
    }
}


.blog-section {

    .card:hover {
        transform: scale(1.02);
        transition: .1s;
    }


    @media only screen and (max-width: 767px) {
        h1 {
            margin-top: 100px;
            text-align: center;
        }
    }

    .card {

        @media only screen and (max-width: 767px) {
            margin-bottom: 20px;
        }

        .card-author {
            height: 50px;
        }

        .card-img {
            height: 300px;
            overflow: hidden;

            img {
                object-fit: cover;
                height: 300px;
                width: 100%;
            }
        }
    }


}

.faq {
    @media only screen and (max-width: 767px) {
        h1 {
            margin-top: 100px;
            text-align: center;
        }
    }

    .accordion {
        --bs-accordion-border-width: 0;


        .accordion-item {
            margin: 10px;
            border: 1px solid $primary;
            border-radius: 20px;

            .accordion-button {
                text-transform: uppercase;
                font-weight: bold;
                background-color: transparent;
            }

            .accordion-button::after {
                transform: none !important;
                transition: none !important;
                display: none
            }

            .accordion-button:focus {
                box-shadow: none;
                border-color: rgba(0, 0, 0, .125);
            }

            .accordion-body {
                text-align: justify;
                font-size: 16px;
            }
        }
    }


}

.book-text {
    text-align: center;
    font-weight: bold;
    color: $gray-700;
    border: 1px dashed $primary;
    padding: 15px;
    border-radius: 20px;
}

// Service Page
.partner {

    .partner-advert {


        .partner-advert-card {
            border-top: 0;

            .advert-ul {
                padding: 5px;
                margin-bottom: 10px;
            }

            ul {

                li {
                    list-style-type: square;
                    color: $dark;
                }

                li::marker {
                    color: $primary;
                }
            }
        }
    }

    .tab-overflow {
        border-bottom: 2px solid $accent;

        li {
            margin-right: 5px;

            button {
                border-top-left-radius: 20px !important;
                border-top-right-radius: 20px !important;
            }
        }
    }

    .coord {
        color: $gray-700;
        border-bottom: 1px solid $primary;
        margin-top: 80px;
        padding-bottom: 10px;
        margin-bottom: 40px;
        text-align: center;
    }

    .commission-heading {
        font-weight: bold;
        color: $gray-700;
        border-bottom: 1px solid $primary;
        margin-top: 60px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: center;
    }

    .commission-caterer {
        color: $gray-700;

        .form-check {
            display: flex;

            label {
                font-weight: bold;
                background-color: $accent;
                border-radius: 20px;
                padding: 10px;
                color: #fff;
                font-size: smaller;
                width: 100%;
                margin: 10px;
                text-align: center;
            }
        }
    }

    .card {
        height: 200px;
        overflow: scroll;
        @media only screen and (max-width: 767px) {
            margin-top: 20px;
        }

        h6 {
            padding-right: 10px;
            padding-top: 10px;
            font-weight: bold;
        }
    }

    blockquote {
        padding: 10px;
        font-size: large;
        color: $gray-700;
        border-bottom: 1px solid;
    }


    .partner-details {
        border-radius: 30px;
        padding: 30px;

        @media only screen and (max-width: 767px) {
            font-size: smaller;
            padding: 10px;
        }

    }

    .partner-description {
        text-align: justify;
        padding-top: 5px;
    }

    .partner-contacts {
        overflow-x: scroll;
    }

    .advert-container {
        margin-top: 50px;
    }

    .partner-languages {
        margin-right: 10px;

        img {
            cursor: pointer;
        }

        h3 {
            margin-right: 20px;
        }
    }

    .partner-logo {

        img {
            height: 80px;
            margin-top: 100px;

            @media only screen and (max-width: 767px) {
                margin-top: 100px;
                height: 40px;
            }
        }
    }

    .star-img {
        margin: 4px;
    }

    .gallery {

        .gallery-image {
            height: 200px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                cursor: pointer;
                filter: brightness(80%);
                border-radius: 20px;
            }

            img:hover {
                transform: scale(1.06);
                transition: .2s;
                filter: brightness(100%);
            }
        }
    }


    li {
        list-style-type: none;
    }

    .side {
        margin-top: 100px;
    }

    .adverts {
        overflow: scroll;

        .card {
            height: 200px;
            margin: 20px;
            overflow: hidden;
            color: #fff;
            font-weight: bold;


            .card-title {
                color: $primary;
                padding: 10px;
            }

            .card-img-overlay {
                padding: 0;
            }

            .card-text {
                position: absolute;
                bottom: 0;
                padding: 20px;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.6);
            }

            img {
                filter: brightness(90%);
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    .tab-index {
        padding: 0;

        .book-btn {
            border-bottom-left-radius: 0;
        }

        .partner-info-text {
            border: 1px solid $gray-300;
            border-top: 0;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;

        }

        .tab-overflow {
            overflow: scroll;
        }


        .partner-comment {
            background-color: $white;
            color: $black;
            margin-bottom: 10px;
        }

    }

    .tab {
        overflow: scroll;

        ul {
            padding: 0;


            li {
                list-style-type: none;

                svg {
                    width: 30px;
                    height: 30px;
                }

                button {

                    svg {
                        width: 40px;
                    }
                }


                @media only screen and (max-width: 767px) {
                    button {
                        text-align: start;
                        font-size: smaller;
                        width: 100%;

                        svg {
                            width: 40px;
                        }
                    }
                }
            }
        }

        .tab-content {
            text-align: justify;
            width: 100%;
            overflow: scroll;
            margin-bottom: 48px;

            section {
                background-color: $white;
            }

            .list-group {
                margin-left: 30px;
            }

            .service-bool {
                svg {
                    width: 20px;
                }
            }

            .partner-comment {
                margin-left: 10px;
            }

            .working-days {
                margin-left: 10px;
                margin-top: 4px;
            }


            .room-icon {
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }

            .max-guests-icon {
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }

            .wt-icon {
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }

            .parking-icon {
                width: 30px;
                margin-right: 5px;
            }

            .alcohol_yes {
                margin-left: 5px;
            }

            .accommodation-icon {
                width: 20px;

            }

            .payment-icon {
                width: 30px;
                margin-bottom: 10px;
                margin-right: 15px;
            }


            .list-group-item {
                border: 0;
                border-bottom: 1px solid $gray-300;

                .title {
                    text-align: start;
                    padding-top: 10px;
                    color: $gray-700;
                    width: 100%;
                    text-transform: uppercase;
                    font-size: medium;
                    font-weight: bold;
                }

                .content {
                    font-size: small;

                    a {
                        color: $accent;
                        border-bottom: 1px solid;
                    }
                }
            }

            h4 {
                font-weight: bolder;
                text-transform: uppercase;
                border-bottom: 2px solid;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            h6 {
                font-weight: bold;
                text-transform: uppercase;
                display: flex;
                margin: 0;
                font-size: xx-large;
                background-color: $white;
                color: $gray-700;
                padding-top: 20px;
                padding-bottom: 20px;

                @media only screen and (max-width: 767px) {
                    font-size: large;
                }
            }
        }
    }

    .tabcat {
        margin-top: 50px;
        height: 100%;
        padding: 10px;

        .partner-services {
            margin: 0;
            padding: 10px;
            border-bottom: 1px solid;
        }


        ul {
            padding: 0;
            margin: 0;

            button {
                padding: 10px;
            }
        }
    }


    @media only screen and (max-width: 767px) {
        .tab-content {
            padding-bottom: 10px;
            margin-bottom: 10px;

        }
    }

    .partner-contacts {
        margin-bottom: 50px;
    }

    .info-element {
        cursor: pointer;

        a {
            color: $blue;
            text-decoration: underline;
        }
    }

    .icon {
        cursor: pointer;

        svg {
            width: 40px;

            @media only screen and (max-width: 767px) {
                width: 40px;
            }

        }
    }


}


.usp {
    padding-top: 40px;

    @media only screen and (min-width: 767px) {
        padding-top: 100px;
        margin-top: 150px;

    }

    @media only screen and (max-width: 767px) {
        h2 {
            text-align: center;
            padding: 10px;
        }
    }


    h4 {
        font-weight: bold;
        color: $gray-600;
    }

    p {
        text-align: justify;
    }

    .usp-item {
        margin-bottom: 50px;
    }
}

.contactus {
    margin-top: 20px;
    padding: 40px;
    @media only screen and (min-width: 767px) {
        margin-top: 100px;
        padding: 0;
    }


    .modal-content {
        color: $gray-700;

        .modal-body {
            padding-bottom: 0;
            text-align: center;
        }

        .modal-footer {
            background-color: #fff;
            border-top: 1px solid $primary;
        }

        .any-questions {
            text-align: center;
            font-weight: bold;
            color: $gray-700;
            border: 1px dashed $primary;
            padding: 15px;
            border-radius: 20px;
        }

        .contact-input-container {
            border: 2px dashed $accent;
            background-color: $primary;
            color: #fff;
            padding: 40px 60px 40px;
            border-bottom: 0;
            margin: 100px 40px 0;
            border-top-left-radius: 120px;
            border-top-right-radius: 120px;

            label {
                padding-bottom: 15px;

            }
        }
    }


}

.terms {
    padding-top: 5px;
    font-size: smaller;

    a:hover {
        text-decoration: underline;
    }

    a {
        color: $accent;
    }
}


.logoUpload {
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.partner-register {
    color: $dark;
    padding: 30px;
    border: 2px solid $gray-400;
    border-radius: 20px;

    input {
        margin-bottom: 10px;
    }

    h4 {
        border-bottom: 1px solid $primary;
        padding: 10px;
        color: $gray-700 !important;
    }

    label {
        color: $dark;
    }

    .partner-register-terms {
        margin-top: 20px;
        padding: 20px;
        text-align: justify;
        font-size: small;

        label {
            font-size: small;
        }

        input {
            border: 2px solid $primary;
            width: 20px;
            height: 20px;
            margin-right: 20px;
        }
    }
}

.become-partner {


    .form-check {
        padding: 20px;
    }

    .uploadLogo {
        margin-top: 30px;
    }

    .become-partner-img {
        width: 100%;
        border-radius: 20px;
        filter: brightness(80%);
        margin-bottom: 10px;
    }

    @keyframes rotate {
        100% {
            transform: rotate(1turn);
        }
    }

    .rainbow:hover {
        transform: scale(1.1);
        transition: .3s;
    }

    .rainbow {
        position: relative;
        z-index: 0;
        height: 100px;
        overflow: hidden;
        color: $accent;
        border-radius: 20px;


        &::before {
            content: '';
            position: absolute;
            z-index: -20;
            left: -50%;
            top: -50%;
            width: 200%;
            height: 400%;
            background-color: #399953;
            background-repeat: no-repeat;
            background-size: 50% 50%, 50% 50%;
            background-position: 0 0, 100% 0, 100% 100%, 0 100%;
            background-image: linear-gradient($primary, $primary),
            linear-gradient($accent, $accent),
            linear-gradient($premium, $premium);
            animation: rotate 4s linear infinite;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            left: 6px;
            top: 6px;
            width: calc(100% - 12px);
            height: calc(100% - 12px);
            background: #fff;
            border-radius: 5px;
        }
    }

    @keyframes opacityChange {
        50% {
            opacity: 1;
        }
        100% {
            opacity: .5;
        }
    }


    .benefits {
        padding-top: 80px;

        @media only screen and (max-width: 767px) {
            h1 {
                text-align: center;
                margin-top: 50px;

            }

            h3 {
                font-size: small;
                text-align: center;
            }

            ul {
                padding: 20px;
                margin-top: 20px;
            }
        }


        .benefits-img {
            width: 400px;
            border-radius: 100px;
            padding: 20px;
        }

        ul {
            color: $primary;
            font-weight: bold;

            li {
                list-style-type: decimal;
                position: relative;

                h3 {
                    text-transform: uppercase;
                    color: $gray-700;
                    border-bottom: 1px solid $primary;
                    padding-bottom: 5px;
                    font-size: 20px;
                }

                p {
                    text-align: justify;
                    color: $dark;
                    font-weight: normal;
                    margin-bottom: 40px;
                }
            }
        }
    }


    .packages {
        margin-top: 250px;

        @media only screen and (min-width: 767px) {
            .package:hover {
                transform: scale(1.1);
                margin: 5px;
                transition: 0.2s;
            }
        }

        @media only screen and (max-width: 767px) {
            margin-top: 50px;

            h2 {
                text-align: center;
            }

            .heading {
                p {
                    text-align: center;
                }
            }

            .package {
                margin: 20px;
            }
        }

        .heading {
            margin-bottom: 40px;
        }

        .package {
            height: 400px;
            margin-bottom: 10px;
            border-radius: 20px;
            border: 1px solid $primary;
            cursor: pointer;

            h3 {
                color: #fff;
                margin: 0;
                padding: 0;

            }

            ul {
                margin-top: 20px;
                padding-right: 2rem;
            }

            li {
                list-style-type: none;
                border-bottom: 2px dashed $gray-300;
                padding: 10px;
                font-size: small;

                img {
                    width: 10px;
                    margin-right: 10px;
                }
            }

            .pricing {
                position: absolute;
                bottom: 0;
                padding: 20px;
                font-weight: bold;

                .amount {
                    font-size: 22px;
                    color: $primary;
                }
            }
        }


    }
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0deg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}


.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 5px;

    .btn-label {
        position: relative;
        left: 5px;
        top: -2px;
        display: inline-block;
        border-radius: 3px 0 0 3px;
        padding: 6px 10px;
    }
}

.btn {
    color: #fff;
}

.nav-logo {
    padding-left: 15px;

    img {
        width: 50px;
    }
}

#tsparticles {
    position: absolute;
    top: 0;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.collapse,
.collapsing {
    overflow: auto;
    max-height: 50vh;
}

.accordion-button-register.collapsed {
    color: #ffffff;
    background-color: $warning;
}

.logo-top-item {
    left: 20px;
}

.top-services {
    margin-top: 180px;

    @media only screen and (max-width: 1000px) {
        margin-top: 80px;
    }

    h2 {
        color: $gray-700;
    }

    .glide__track {
        .glide__slide:hover {
            transform: scale(1.04);
            transition: .2s;
        }

        .glide__slide--active {
            .card {
                border: 4px solid $accent;
                border-radius: 50px;
            }
        }
    }


    .glide__slides {
        padding: 20px 0;
    }

    .glide__slide {

        .card {
            border-radius: 50px;
            width: 100%;
            overflow: hidden;
            margin: 20px 20px 20px;

            .card-title {
                color: $gray-700;
                padding-bottom: 5px;

                @media only screen and (max-width: 1000px) {
                    text-align: center;
                    margin-bottom: 60px;
                }
            }

            .card-img {
                .card-img-logo {
                    position: absolute;
                    top: -10px;
                    left: 20px;
                    background-color: #fff;
                    width: 70px;
                    padding: 20px 15px 20px;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    z-index: 10;
                }

                .card-img-top {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                .card-logo {
                    padding: 10px;
                }
            }

            .card-body {
                padding: 15px;

                h5 {
                    text-align: center;
                }
            }

            .card-footer {
                padding: 10px;
            }
        }
    }

    .glide__arrows {
        position: absolute;
        top: 25px;
        width: 100%;

        .btn-top {
            border-radius: 80px;
            background-color: rgba(0, 0, 0, .5);

        }

        .glide__arrow {
            position: absolute;
            margin-top: 200px;

            img {
                width: 20px;
            }

            .sr-only {
                display: none;
            }
        }

        .glide__arrow--right {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            right: 0;

            @media only screen and (max-width: 1000px) {
                border: 1px solid #fff;
            }
        }

        .glide__arrow--left {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            left: 0;

            @media only screen and (max-width: 1000px) {
                background-color: rgba(0, 0, 0, .5);
                border: 1px solid #fff;
            }
        }


        .glide__arrow--left {
            img {
                transform: rotate(180deg);
            }
        }

    }

    .bullets {
        position: absolute;
        top: 50px;
    }

    .glide__bullets {

        button {
            border-radius: 0;

            svg {
                color: $gray-700;
            }
        }

    }

    .glide__bullet--active {
        opacity: 80;
        border-bottom: 2px solid $accent;
        padding-bottom: 5px;

        svg {
            color: $accent !important;
        }
    }

    .glide__bullet:hover {
        color: #fff;
        cursor: pointer;
    }


}

.categories {

    h2 {
        color: $gray-700;
    }

    .scene--card:hover {
        transform: scale(1.04);
        transition: .1s;
    }

    .scene {
        display: inline-block;
        width: 400px;
        height: 200px;
        margin: 12px 0;
        perspective: 600px;

        img {
            width: 200px;
        }

        .card {
            border: 0;
            position: relative;
            width: 100%;
            height: 100%;
            cursor: pointer;
            transform-style: preserve-3d;
            transform-origin: center right;
            transition: transform .4s;
            background-color: transparent;

            h3 {
                margin-bottom: 0;
                padding: 10px;
            }
        }

        .card.is-flipped {
            transform: translateX(-100%) rotateY(-180deg);
        }

        .card__face {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            font-weight: bold;
            backface-visibility: hidden;
        }

        .card__face--front {
            position: relative;
            overflow-y: hidden;
            border-radius: 20px;


            .title {
                margin-bottom: 20px;
            }
        }

        .card__face--back {
            transform: rotateY(180deg);
            overflow: scroll;
            border-radius: 20px;

            .sub-categories {

                ul {
                    color: $primary;
                    list-style-type: decimal-leading-zero;

                    li {
                        text-align: start;
                        margin: 10px;

                        a {
                            color: $gray-700;
                        }
                    ;

                        a:hover {
                            border-bottom: 2px dashed $primary;
                        }
                    }
                }
            }
        }
    }
}

.sub-categories-offcanvas {
    background-color: $secondary;
}

.sub-categories-list {
    li {
        text-decoration: none;
    }
}

.listing {

    h1 {
        margin-bottom: 10px;
    }

    .listing-content-section {
        margin-top: 80px;
    }

    .card:hover {
        transform: scale(1.02);
        transition: .1s;
    }

    .card {
        max-height: 226px;
        z-index: 1;
        border: 1px solid $gray-300;

        .cover {
            width: 100%;
            height: 224px;
            object-fit: cover;
        }

        h5 {
            position: absolute;
            top: 10px;
            margin-bottom: 20px;
            color: $primary;
        }

        .description {
            position: absolute;
            text-align: justify;
            top: 40px;
            padding-right: 20px;
            max-height: 72px;
            overflow: hidden;


            p {
                line-height: 20px;
                font-size: 14px;
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }

        .location-box {
            color: $secondary;
            position: absolute;
            bottom: 2px;

            p {
                padding-top: 4px;
                font-size: smaller;
            }
        }
    }

    .filter-title {
        margin-bottom: 20px;
    }
}


.breadcrumb {
    padding: 12px;


    --bs-breadcrumb-divider-color: $accent;

    a {
        color: $gray-700;
    }

    a:hover {
        text-decoration: underline;
    }
}

.dropdown-user {
    position: fixed;
    top: 0;
    left: 6rem;
    z-index: 300;
}

.auth {
    position: fixed;
    top: 0;
    left: 6rem;
    z-index: 300;

    a {
        color: #fff;
    }

    .btn {
        border-radius: 0;
        border-bottom-right-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;

    }
}


.language {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 100;

    a {
        color: #fff;

        img {
            width: 30px;
            height: 30px;
            margin: 2px;
        }
    }

    img:hover {
        transform: scale(1.1);
    }

    .btn {
        margin-top: 10px;
        margin-left: 10px;
    }
}


.social-links {
    position: absolute;
    right: -1px;
    top: 40%;
    display: flex;
    flex-direction: column;
    background: $primary;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 5;

    &.fixed {
        position: fixed;
        top: 35%;
    }

    a {
        padding: 7px 10px;
        color: $secondary;

        &:hover {
            color: $secondary;
        }
    }
}

.list-group-item-parent {
    border: 0;
    background-color: $primary;

    a {
        color: #fff;
    }
}

.location {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.pagination {
    padding-left: 40px;

    .page-link {
        background-color: $primary;
        color: #fff;
    }
}


.filters {
    position: fixed;
    right: 0;
    top: 80px;
    z-index: 10;

    .list-group-item-child {
        a {
            color: $gray-700;
        }
    }


    .btn {
        border: 2px solid #fff;
        border-radius: 20px 0 0 20px;
    }

    .dropdown-menu {
        max-height: 60vh;
        overflow-y: scroll;
        border-radius: 0;
        padding: 0;

        .event-types {
            padding: 10px;

            .form-check {
                font-size: smaller;
            }
        }

        .dropdown-item {
            padding: 0;
        }

        .dropdown-item:hover {
            background-color: transparent;
        }

        .list-group-item-child {
            font-size: small;
            margin: 0;
            padding: 10px;
            background-color: transparent;
        }

        .list-group-item-parent {
            padding: 10px;
        }
    }

    .reset-filters {
        margin-top: 20px;
    }

}


.nav-logo-container {
    padding-top: 20px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar {
    border-bottom: 2px solid $primary;

    .navbar-toggler {
        outline: none;
        border: 0;

        svg {
            color: $gray-800;
            width: 40px;
            height: 40px;
        }
    }

    .navbar-toggler:hover {
        transform: scale(1.12);
        transition: .2s;
    }

    .offcanvas-body {
        width: 80px;
        padding: 0;

        @media only screen and (max-width: 767px) {
            width: 300px;

            .nav-link {
                display: flex;
                justify-content: start !important;
                color: #fff !important;
            }
        }
    }
}

.navigation {
    .offcanvas {
        border: 0;
        background-color: transparent;
    }

    .dropdown {
        position: absolute;
        bottom: 0;
        width: 100%;

        .btn-group {
            width: 100%;
        }
    }

    .nav {
        margin-top: 20px;

        .nav-item {
            height: 60px;
            background-color: $primary;

            a {
                padding: 0;
                height: 100%;

                .nav-icon {
                    color: $gray-100;
                    width: 30px;
                    height: 30px;
                }
            }


        }
    }


}

.offcanvas {
    -webkit-transition: .2s ease all;
    -o-transition: .2s ease all;
    transition: .2s ease all;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
}

html {
    overflow-x: hidden;
}

h1 {
    margin-top: 100px;

    @media only screen and (max-width: 767px) {
        margin-top: 100px;
    }
}


.home-side {

    @media only screen and (min-width: 1200px) {
        border-left: 8px solid $primary;
    }

}

.home-section {
    h2 {
        border-bottom: 2px solid $primary;
        padding-bottom: 10px;
    }

    .home-about {

        display: flex;
        justify-content: center;

        @media only screen and (min-width: 1000px) {
            margin: 100px 0;
        }
    }
}

.home-container {
    border-radius: 50px;
    padding: 20px;
}

.welcome-container {
    padding: 60px 0;
}

.home-description {
    border: 8px solid $primary;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    margin: 20px;

    p {
        text-align: justify;
    }

    img {
        width: 50px;
    }
}


@media only screen and (min-width: 1200px) {
    .row-top {
        border-top: 8px solid $primary;
    }

    .row-bottom {
        border-bottom: 8px solid $primary;
    }
}


.welcome {


    @media only screen and (max-width: 767px) {
        margin-top: 100px;
    }

    .accordion {
        background-color: transparent;
        --bs-accordion-border-width: 0;

        .card-group {
            background-color: transparent;
            border-color: $secondary;
            border-radius: 10px;

            display: flex;
            justify-content: center;
            @media only screen and (max-width: 767px) {
                flex-direction: column;
            }


            .card:hover {
                transform: scale(1.04);
                transition: .2s;
            }

            .card {
                border-radius: 40px;
                border: 8px solid $primary;
                cursor: pointer;
                width: 400px;
                background-color: transparent;


                .card-body {
                    padding: 40px;
                }

                img {
                    animation: tilt-n-move-shaking 2s infinite;
                    width: 60px;
                    height: 60px;
                    margin-left: 70px;
                }

                img:hover {
                    transform: scale(1.5);
                    transition: 0.2s ease-in-out;
                    padding: 20px;
                }

                h3 {
                    width: 100%;
                    height: 100%;
                    font-size: large;
                    align-items: center;
                }

                h3:hover {
                    color: $primary;
                }

                .accordion-collapse {
                    border: 0;
                }

                .accordion-button::after {
                    transform: none !important;
                    transition: none !important;
                    display: none
                }

                .accordion-button:focus {
                    box-shadow: none;
                    border-color: rgba(0, 0, 0, .125);
                }

                .accordion-item {
                    background-color: transparent;
                    border: 0;


                    .accordion-button {
                        border: 0;
                    }

                    .accordion-item-flex {
                        display: flex;
                        margin-bottom: 20px;
                    }
                }

                .accordion-body {
                    text-align: justify;
                    border: 0;
                    padding: 0;
                    margin-top: 50px;

                }

                .accordion-button {
                    font-weight: bold;
                    background-color: transparent;
                    border: 0;
                    padding: 0;
                }

                .accordion-header {
                    margin-bottom: 30px;
                    cursor: pointer;
                    text-align: end;
                    color: $gray-700;
                }

                .accordion-header::before {
                    content: url('../images/right-arrow.svg');
                    position: absolute;
                    left: 20px;
                    top: 100px;
                    width: 30px;
                    height: 30px;
                }

                .register {
                    color: #ffffff;
                    margin-top: 20px;
                    width: 100%;
                    text-align: left;
                }

                .card-footer {
                    background-color: transparent;
                }
            }
        }
    }
}


@media only screen and (max-width: 1800px) {
    .filters {
        .btn-text {
            display: none;
        }
    }
}

// Applies Up To Medium
@media only screen and (max-width: 1200px) {

    .navigation {
        width: 100%;
        height: 100%;

        .close-container {
            right: 20px;
            top: 15px;
        }

        .nav-item {
            a {
                font-size: large;
            }
        }

        svg {
            margin: 20px;
        }
    }

}


// Applies After Medium
@media only screen and (min-width: 1200px) {

    .navigation {

        .nav-sm-text {
            display: none;
        }

        .nav-sm-close {
            display: none;
        }

        .nav-link {
            justify-content: center;
        }
    }

    .list-group-item-parent:hover {
        background-color: $purple-600;
        transition: .1s;
        transform: scaleX(1.04);
    }

    .list-group-item-child {
        margin-left: 20px;
        z-index: 20;

        .link-underline {
            border-bottom-width: 0;
            background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
            background-size: 0 2px;
            background-position: 0 100%;
            background-repeat: no-repeat;
            transition: background-size .1s ease-in-out;
        }

        .link-underline:hover {
            background-size: 100% 3px;
            background-position: 0 100%
        }

        .link-underline-primary {
            background-image: linear-gradient(transparent, transparent), linear-gradient($accent, $accent);
        }

        a {
            color: $secondary;
        }
    }


    .cookies {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        padding: 20px;
        background-color: $secondary;
        z-index: 400;
        color: #fff;

        img {
            width: 80px;
        }

        .btn-group {
            padding: 30px 20px 0px 30px;

            button {
                border-radius: 10px;
            }
        }

        p {
            font-size: small;
        }

        h2 {
            text-align: start;
            text-transform: uppercase;
        }
    }

}

// Applies Before Medium
@media only screen and (max-width: 1200px) {

    .navigation {
        .container {
            padding-top: 10px;


            .nav-sm-text {
                margin-bottom: 0px !important;
                text-transform: uppercase;
            }

            .nav-sm-close {
                position: absolute;
                top: 10px;
                right: 10px;
            }

            .nav-link {
                i {
                    width: 16px;
                    height: 16px;
                }
            }

            .nav {
                margin-top: 20px;
            }
        }
    }


    .cookies {
        position: fixed;
        bottom: 0;
        padding: 20px;
        background-color: $secondary;
        z-index: 400;
        color: #fff;
        width: 100%;

        img {
            width: 40px;
        }

        .btn-group {
            padding: 30px 20px 0px 30px;

            button {
                border-radius: 10px;
            }
        }

        p {
            font-size: small;
        }

        h2 {
            text-align: start;
            text-transform: uppercase;
        }
    }

}

// Applies Not Small
@media only screen and (min-width: 992px) {
    .btn-category-filter {
        display: none;
    }

    .partner-listing {
        margin-top: 100px;
    }

    .breadcrumb {
        margin-bottom: 10px;
    }


}

// Applies Small
@media only screen and (max-width: 767px) {
    .listing {

        h1 {
            margin-top: 100px;
            margin-bottom: 5px;
        }

        .breadcrumb {
            font-size: smaller;
        }

        .card {
            max-height: 400px;
            height: 400px;

            h5 {
                padding: 10px;
                font-size: medium;
                color: $primary;
                border-bottom-right-radius: 10px 10px;
                top: 230px;
                left: 6px;
            }

            .cover {
                filter: brightness(80%);
                border-radius: 0;
            }

            .description {
                top: 290px;
            }

            .location-box {
                top: 10px;
                color: #fff;
            }
        }
    }


}

.bg-shiny {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, $secondary 0%, $primary 25%, $accent 51%, #ff357f 100%);
    -webkit-animation: AnimateBG 3s ease infinite;
    animation: AnimateBG 3s ease infinite;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
