.app-accordion {

    .accordion {
        --bs-accordion-border-width: 0;

        .card-group {
            width: 100%;

            @media only screen and (max-width: 767px) {
                flex-direction: column;
            }

            .card-container {
                width: 100%;

                .card {
                    width: 100%;
                    cursor: pointer;
                    border-radius: 0 !important;
                    border: 0 !important;

                    .card-body {
                        padding: 30px;
                    }

                    .accordion-collapse {
                        border: 0;
                    }

                    .accordion-button:focus {
                        box-shadow: none;
                        border-color: rgba(0, 0, 0, .125);
                    }

                    .accordion-item {
                        .accordion-button {
                            border: 0;
                            color: $dark;

                        }

                        .accordion-item-flex {
                            display: flex;
                            border-bottom: 1px solid $light;
                        }
                    }

                    .accordion-body {
                        text-align: justify;
                        cursor: default;
                        position: relative;
                        padding: 0 !important;
                    }

                    .accordion-body-padding {
                        padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x) !important;
                    }

                    .accordion-button {
                        text-transform: uppercase;
                        font-family: 'IBM Plex Sans', sans-serif;
                        border-radius: 0;
                        display: flex;
                        align-items: center;
                        padding: 20px;
                        width: 100% !important;

                        .accordion-title {
                            cursor: pointer;
                            margin: 0;
                        }
                    }


                    .register {
                        color: #ffffff;
                        margin-top: 20px;
                        width: 100%;
                        text-align: left;
                    }

                    .card-footer {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
