.app-advert {

    .app-advert-contacts {
        text-align: center;

        .tab-page {
            border-top: 1px solid $gray;

            .tab-page-content {
                padding: 40px !important;
            }
        }
    }

    .app-advert-service {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .app-card {
            flex-basis: 200px;
            flex-grow: 1;
        }
    }

    .app-advert-socials {
        display: flex;
        background-color: #fff;
        padding: 20px;
        justify-content: center;
        gap: 10px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .app-advert-rates {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;

        .service-rate-card {
            flex-basis: 400px;
            flex-grow: 1;
            border: 1px solid $light;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            background-color: #fff;
            font-family: "Gotham", sans-serif;

            .rates-card-tag {
                padding: 10px;
                background-color: $blue;
                color: #fff;
                font-weight: bold;
                font-family: monospace;
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .rates-card-content {
                display: flex;
                align-items: center;
                padding: 20px;
                width: 100%;

                p {
                    margin: 0;
                }
            }
        }
    }

    .app-advert-gallery {
        .advert-gallery-content {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            gap: 10px;

            .gallery-image {
                flex-grow: 1;
                flex-basis: 250px;
                max-width: 400px;

                img {
                    width: 100%;
                    height: 250px;
                    object-position: center;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
        }
    }

    .app-advert-container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        .app-advert-details {
            display: flex;
            flex-grow: 1;
            flex-basis: 100px;
            gap: 20px;

            @media only screen and (min-width: 982px) {
            }


            @media only screen and (min-width: 983px) {
                width: 100%;
                flex-direction: column;
                max-width: 500px;
            }

            @media only screen and (max-width: 767px) {
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }


            .app-advert-thumbnail {
                height: fit-content;
                overflow: hidden;
                max-width: 500px;
                width: 100%;

                @media only screen and (min-width: 501px) {
                    border-radius: 20px;
                }

                .thumbnail {
                    width: 100%;
                    height: 300px;
                    object-position: center;
                    object-fit: cover;
                }
            }
        }

        .app-advert-content {
            flex-basis: 500px;
            flex-grow: 1;

            .advert-content-container {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .advert-content-details {
                    display: flex;
                    gap: 20px;
                    @media only screen and (max-width: 1500px) {
                        flex-direction: column-reverse;
                    }
                }

                .advert-content-description {
                    display: flex;
                    gap: 20px;

                    @media only screen and (max-width: 1500px) {
                        flex-direction: column-reverse;
                    }
                }

            }
        }
    }
}

