button {
    margin: 0 !important;
}

.btn-info:hover {
    color: #ffffff;
}

.btn-outline-info {
    color: $gray;
}

.btn-outline-info:hover {
    color: #ffffff;
}

.btn-primary {
    color: #fff;
}

.btn-secondary {
    color: #fff;
}

.btn-warning {
    color: $danger;
}

.btn-danger {
    color: #fff;
}

.btn-info {
    color: #fff;
}

.btn-accent {
    color: #fff;
}

.btn-orange:hover {
    color: #fff;
}
