button {
    margin: 0 !important;
}


.btn-primary {
    color: #fff;
}

.btn-secondary {
    color: #fff;
}

.btn-warning {
    color: $danger;
}

.btn-danger {
    color: #fff;
}

.btn-info {
    color: #fff;
}

.btn-accent {
    color: #fff;
}
