.app-card {
    position: relative;
    border: 1px solid $gray-300;
    border-radius: 20px;
    overflow: hidden;

    .app-card-header {
        border-bottom: 1px solid $light;
        padding: 20px;

        &:hover {
            border-bottom: 1px solid $accent;
            cursor: pointer;
        }

        .app-card-title {
            color: $blue;
            font-size: medium;
            font-weight: bold;
            text-transform: uppercase;

        }
    }

    .app-card-content {
        border-bottom: 1px solid $light;
        padding-bottom: 20px;

        .card-content-padded {
            padding: 20px;
        }
    }

    .modal-absolute {
        border-radius: 50% !important;
    }
}


.card-show {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}

.card-show:hover {
    text-decoration: underline;
    color: $accent;
}

.app-card-dashboard {
    margin-top: 120px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;

    .card-dashboard-header {
        padding: 40px;
        margin-bottom: 20px;

        h1 {
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
    }
}

.app-card-listing {
    overflow: hidden;

    .listing-header {
        padding: 20px 40px 40px;
        border-bottom: 1px solid $light;

        h1 {
            font-weight: bold;
            font-size: 50px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
    }

    .listing-breadcrumbs {
        margin-top: 20px;
    }

    .listing-sidebar {
        border-right: 1px solid $light;
    }
}

.card-list {
    li {
        padding: 10px;
        border-bottom: 1px solid $light;

        &::marker {
            color: $primary;
        }
    }
}
