.app-card {
    position: relative;
    border: 1px solid $gray-300;
    border-radius: 20px;
    padding: 20px;

    .app-card-title {
        color: $standard;
        font-size: medium;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .app-card-content {
    }

    .modal-absolute {
        border-radius: 50% !important;
    }
}
