.app-carousel {
    height: 100% !important;
}

.carousel__frame {
    height: 100vh;

    .carousel__controls {
        position: relative;
        height: 100% !important;
    }

    .glide__arrows-container {
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;

        .glide__arrows {


            .arrow-content {
                background-color: $light;
                border: 1px solid $blue;
                padding: 20px;
                border-radius: 50%;
                display: flex;
                align-items: center;
            }
        }
    }

    .glide__arrow {
        svg {
            width: 40px;
            height: 40px;
            color: $blue;
        }
    }


    .glide__arrow--left {
        position: absolute;
        left: -80px;
        bottom: 0;
        top: 0;
    }

    .glide__arrow--right {
        position: absolute;
        right: -80px;
        bottom: 0;
        top: 0;
    }
}
