.forms-checkbox {
    border: 1px solid $light;
    padding: 1.5rem;
    border-radius: 10px;

    h6 {
        margin-bottom: 20px;
        border-bottom: 1px solid $gray;
        padding-bottom: 10px;
    }
}
