.app-input {
    width: 100%;

    .input-group-text {
        background-color: $accent;

        svg {
            color: #fff;
        }
    }

    input:focus {
        border-color: $accent;
    }
}

.colorpick-eyedropper-input-trigger {
    display: none;
}
