
.app-logo {
    img {
        width: 120px;
    }
}

.app-logo-sm {
    img {
        width: 60px;
    }
}

.app-logo-offcanvas {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid $accent;

    img {
        margin: 10px;
        padding: 10px;
    }
}
