//https://getbootstrap.com/docs/5.3/layout/breakpoints/
.responsive-section {
    @media only screen and (min-width: 1199px) {
        padding-top: 20px !important;
        padding-bottom: 100px !important;
    }

    @media only screen and (min-width: 2000px) {
        padding: 0 400px;
    }

    @media only screen and (max-width: 1999px) {
        padding: 0 300px;
    }

    @media only screen and (max-width: 1400px) {
        padding: 0 150px;
    }

    @media only screen and (max-width: 1200px) {
        padding: 0 100px;
    }

    @media only screen and (max-width: 992px) {
        padding: 0 50px;
    }

    @media only screen and (max-width: 768px) {
        padding: 0 20px;
    }

    @media only screen and (max-width: 576px) {
        padding: 0 10px;
    }
}

.responsive-section-padding {

}

.mobile-more {
    margin: 40px 10px 10px;
}

.mobile-more-button {
    padding: 0 30px 30px;

    @media only screen and (min-width: 901px) {
        display: none;
    }
}
