//https://getbootstrap.com/docs/5.3/layout/breakpoints/
.responsive-section {
    padding-bottom: 40px !important;

    @media only screen and (min-width: 2000px) {
        padding: 0 400px;
    }

    @media only screen and (max-width: 1999px) {
        padding: 0 200px;
    }

    @media only screen and (max-width: 1400px) {
        padding: 0 150px;
    }

    @media only screen and (max-width: 1200px) {
        padding: 0 40px;
    }

    @media only screen and (max-width: 768px) {
        padding: 0 20px;
    }

    @media only screen and (max-width: 576px) {
        padding: 0 10px;
    }
}

.responsive-section-padding {

}

.mobile-more {
    margin: 40px 10px 10px;
}

.mobile-more-button {
    padding: 0 0 40px;

    .mobile-more-span {
        background-color: $pink;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-weight: bold;
    }

    @media only screen and (min-width: 901px) {
        display: none;
    }
}


.mobile-more-content {
    .app-title-container {
        border-bottom: 1px solid $gray;
    }
}
