.navbar {
    padding: 0;
}

.app-navigation {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid $light;
    height: 80px;

    .navigation {
        height: 100%;
        position: relative;

        .admin-navigation {
            position: absolute;
            bottom: 40px;
            padding-top: 20px;
            border-top: 1px solid $orange;
            width: 100%;
        }
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

    .offcanvas-body {
        padding: 0;
        width: 250px;

        .nav {
            margin-top: 0;


            .nav-item {
                padding: 10px;
                margin: 5px 20px;
                border: 1px solid $light;
                color: $gray;
                border-radius: 5px;

                .nav-item-content {
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                }
            }

            a:hover {
                color: $accent;
            }

            svg {
                margin-right: 10px;
            }
        }

    }
}
