.app-notification-container {
    position: relative;
    z-index: 4;
}


.app-notification {
    border-radius: 10px;
    border: 1px solid $gray;
    overflow: hidden;
    width: 400px;
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #fff;

    .app-notification-header {
        border-bottom: 1px solid $light;
        text-transform: uppercase;
        font-size: smaller;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;

        .app-notification-title {

        }
    }

    .app-notification-content {
        padding: 20px;
        font-family: $font-poppins;
    }
}
