
.service-schedule-day {
    text-transform: uppercase;
    font-size: small;
    margin: 0;
    color: $gray;
}

.service-schedule-timetable {
    li::marker {
        color: $primary;
    }
}

.service-schedule-holidays {
    padding-top: 20px;
    list-style-type: decimal;

    li {
        padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        text-align: start;

        &::marker {
            color: $accent;
            font-weight: bold;
        }
    }
}


.service-price-card {
    border: 1px solid $gray;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    .price-card-tag {
        padding: 10px;
        background-color: $accent;
        color: #fff;
        font-size: smaller;
        font-weight: bold;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .price-card-content {
        display: flex;
        align-items: center;
        padding: 20px;
        width: 100%;

        p {
            margin: 0;
        }
    }
}


.service-form {
    .service-form-list {
        li {
            &::marker {
                color: $primary;
            }
        }
    }
}

.service-caterer {
    .service-caterer-delivery {
        list-style-type: none;
        padding: 0;

        li {
            padding: 20px;
            border-bottom: 1px solid $light;
        }

    }
}

.service-description {
    p {
        text-align: justify;
    }
}
