
.service-schedule {
    display: flex;
    gap: 20px;

    .service-schedule-day {
        text-transform: uppercase;
        font-size: small;
        margin: 0;
        color: $gray;
    }

    .service-schedule-timetable {
        li::marker {
            color: $primary;
        }
    }

    .service-schedule-holidays {
        padding-top: 20px;
        list-style-type: decimal;

        li {
            padding-left: 10px;
            padding-bottom: 10px;
            padding-right: 20px;
            text-align: start;

            &::marker {
                color: $accent;
                font-weight: bold;
            }
        }
    }
}


.service-price {
    .service-price-card {
        padding: 20px;
        border: 1px solid $gray;
        margin: 20px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;

        .price-card-tag {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            background-color: $accent;
            color: #fff;
            border-top: 0;

            border-bottom-left-radius: 20px;
            font-size: smaller;
            font-weight: bold;
        }

        .price-card-content {
            padding-top: 25px;
        }
    }
}

.service-form {
    .service-form-list {
        li {
            &::marker {
                color: $primary;
            }
        }
    }
}

.service-caterer {
    .service-caterer-delivery {
        list-style-type: none;
        padding: 0;

        li {
            padding: 20px;
            border-bottom: 1px solid $light;
        }

    }
}

.service-description {
    
}
