.tab {
    margin: 0;

    .tab-list {
        padding: 0;
        border-bottom: 0;
        overflow-x: scroll;
        position: relative;
        margin: 0 0 0 20px;

        li {
            list-style-type: none;

            .tab-button {
                cursor: pointer;
                padding: 20px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                background-color: transparent;
                color: $gray;

                .tab-icon {
                    font-weight: bold;
                    width: 25px;
                    height: 25px;
                }
            }

            .tab-button:hover {
                .tab-icon {
                    color: $accent;
                }

            }
        }

    }

    .tab-page {
        padding: 20px;
        border: 1px solid $gray-400;
        border-radius: 20px;
    }
}
