.tab {
    margin: 0;

    .tab-list-item {
        list-style-type: none;
    }

    .tab-list-vertical {
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 80px;
        left: 20px;
        padding: 0 !important;
        height: 100px;

        .tab-button {
            cursor: pointer;
            border-radius: 50%;
            border-bottom: 1px solid !important;
            display: flex;
            align-items: center;
            padding: 10px;
            margin-bottom: 10px;
        }

        .tab-button:hover {
            border-bottom: 1px solid $accent !important;

            svg {
                color: $accent;
            }
        }
    }

    .tab-list-horizontal {
        padding: 0;
        overflow-x: scroll;
        position: relative;
        margin: 0 20px 0 20px;
        display: flex;

        .tab-button {
            cursor: pointer;
            padding: 20px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background-color: transparent;
            color: $gray;

            .tab-icon {
                font-weight: bold;
                width: 25px;
                height: 25px;
            }
        }

        .tab-button:hover {
            .tab-icon {
                color: $accent;
            }
        }
    }

    .tab-page {

        .tab-page-header {
            position: relative;
            border-bottom: 1px solid $light;
            border-top: 1px solid $gray-400;
            height: 70px;
            display: flex;
            align-items: center;
            padding-left: 20px;
        }

        .tab-page-content {
            position: relative;
        }
    }
}

.tab-page-content-offset {
    padding-left: 40px;
    min-height: 250px;
}
