.app-title-large {
    font-size: 3.5rem;

    @media only screen and (max-width: 900px) {
        font-size: 2.5rem;
    }
}

.app-title-medium {
    font-size: 2.5rem;

    @media only screen and (max-width: 900px) {
        font-size: 2rem;
    }
}

.app-title-small {
    font-size: 1.5rem;
}

.app-title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.app-title-container {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.title-border-bottom {
    @media only screen and (max-width: 1200px) {
        border-bottom: 1px solid #000;
    }
}
