.app-title-large {
}

.app-title-medium {
}

.app-title-small {
    font-size: 1.25rem;
}

.app-title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.app-title-container {
    display: flex;
    justify-content: center;
}

.title-border {
    border-bottom: 1px solid $light;
}

.app-title-padding {
    padding: 80px;
}
