/* FONTS START */
@font-face {
    font-family: 'GothamPro';
    src: url('/fonts/GothamPro.ttf');
}

@font-face {
    font-family: 'GothamPro-Bold';
    src: url('/fonts/GothamPro-Bold.ttf');
}

@font-face {
    font-family: 'GothamPro-Italic';
    src: url('/fonts/GothamPro-Italic.ttf');
}

/* FONTS END */

/* RESET STYLE OF BROWSER START */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    position: relative;
}

figure {
    margin: 0 !important;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'GothamPro' !important;
    min-height: 100%;
    overflow-x: hidden;
    font-size: 16px !important;
    line-height: 1.15 !important;
}

ol,
ul {
    list-style: none;
    margin-bottom: 0 !important;
}

blockquote,
q {
    quotes: none;
}

input {
    margin: 0;
    padding: 0;
    border-width: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

*:focus {
    outline: none !important;
}

input,
button,
a,
.button,
.setting-nav a:before,
.mobile-btn,
.mobile-btn:before,
.mobile-btn:after {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

button,
.button {
    cursor: pointer;
    padding: 10px 30px;
    min-width: 150px;
    max-width: fit-content;
    text-align: center;
    display: block;
    margin: 50px 0;
    border-radius: 25px;
    height: 50px;
    line-height: 30px;
    background: #FE8A02;
    color: #fff;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
}

#btn-terms {
    color: #fff !important;
    text-transform: uppercase !important;
    border: none;
    text-decoration: none;
}

.form-nav .button,
.form-nav .button:hover {
    color: #fff;
}

.form-nav .button:before {
    content: none;
}

button:hover,
.button:hover {
    background: #B2D035;
    color: #fff !important;
    text-decoration: none;
}

#page {
    min-height: calc(100vh - 120px);
    padding: 50px 0;

}

.container {
    position: relative;
}

/* LINKS */
a:hover,
.active a {
    color: #FE8A02 !important;
}

/* HEADINGS */
h1 {
    font-family: 'GothamPro-Bold' !important;
    font-size: 32px !important;
    text-transform: uppercase;
    margin-bottom: 20px !important;
    margin-top: 0 !important;
}

h2 {
    font-family: 'GothamPro-Bold' !important;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px !important;
}

h3,
h5 {
    font-size: 16px;
    margin-bottom: 15px !important;
}

h4 {
    font-size: 18px;
    margin-bottom: 15px !important;
}

h6 {
    font-family: 'GothamPro-Italic' !important;
    font-size: 14px;
    margin-bottom: 15px !important;
}

p {
    margin-bottom: 10px !important;
    font-family: 'GothamPro' !important;
}

/* HEADER */
header {
    height: 90px;
    background: #333333;
}

.logo {
    position: relative;
    float: left;
    padding: 15px 0;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo img {
    height: 60px;
}

.header-navigation ul {
    display: inline-flex;
    float: right;
    margin-top: 45px;
}

.header-navigation li,
.greeting li {
    float: left;
    line-height: 45px;
    margin-left: 40px;
    position: relative;
}

.header-navigation a,
.greeting a {
    color: #fff;
    text-decoration: none;
}

.greeting {
    position: relative;
}

.greeting ul {
    position: absolute;
    right: 0;
    display: inline-flex;
}

.greeting li:first-child {
    color: #FE8A02;
}

.greeting img {
    width: 20px;
    position: relative;
}

.lang {
    padding: 0 !important;
    line-height: 20px !important;
    margin-top: 13px;
    margin-left: 10px !important;
}

.submenu {
    display: none !important;
    position: absolute;
    background: #333333;
    margin-top: 0 !important;
    left: -15px;
    width: max-content;
    max-width: 150px;
    float: none !important;
    padding: 15px;
    z-index: 99999;
}

.submenu li {
    float: none;
    line-height: 15px;
    font-size: 12px;
    margin: 0 0 5px;
}

.submenu li:last-child {
    margin-bottom: 0;
}

.header-navigation li:hover > .submenu {
    display: block !important;
}

.mobile-opener {
    display: none;
    position: relative;
    float: right;
    top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.mobile-btn {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    width: 30px;
    height: 3px;
    background: #fff;
}

.mobile-btn:before,
.mobile-btn:after {
    content: '';
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background: #fff;
}

.mobile-btn:before {
    bottom: 10px;
}

.mobile-btn:after {
    top: 10px;
}

.mobile-opener:hover .mobile-btn,
.mobile-opener:hover .mobile-btn:before,
.mobile-opener:hover .mobile-btn:after,
.open .mobile-btn,
.open .mobile-btn:before,
.open .mobile-btn:after {
    background: #FE8A02;
}

.open .mobile-btn {
    background: transparent !important;
}

.open .mobile-btn:before {
    transform: rotate(45deg);
    top: 0;
}

.open .mobile-btn:after {
    top: 0;
    transform: rotate(-45deg);
}

/* FOOTER */
footer {
    height: 30px;
    background: #333333;
    text-align: center;
}

.rights {
    color: #fff;
    float: left;
    line-height: 30px;
}

.created {
    float: right;
}

footer a {
    color: #fff;
    display: block;
    text-decoration: none;
}

footer a span {
    font-size: 14px;
    line-height: 30px;
    position: relative;
    display: block;
    float: left;
    margin-right: 10px;
}

footer a img {
    height: 20px;
    margin-top: 5px;
}

/* MAIN CP Page */
.qab .button {
    margin: 0 auto 30px !important;
}

.notifications,
.messages-list {
    font-size: 12px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.messages-list {
    margin-bottom: 30px;
}

.green {
    border-bottom: 2px solid #B2D035;
}

.orange {
    border-bottom: 2px solid #FE8A02;
}

.messages-list ul li:first-child {
    width: 25%;
}

.messages-list ul li:nth-child(2) {
    width: 35%;
}

.messages-list ul li:last-child {
    width: 40%;
}

/* SETTING PAGEs */
.border-right {
    border-right: 2px solid #333333;
}

.setting-nav li {
    margin-bottom: 25px;
}

.setting-nav li:last-child {
    margin-bottom: 0;
}

.setting-nav a {
    font-size: 16px;
    color: #333333;
    text-decoration: none !important;
    position: relative;
}

.setting-nav a:before {
    content: '';
    width: 0;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-bottom: 2px solid #FE8A02;
}

.setting-nav a:hover:before {
    width: 100%;
}

.email {
    text-decoration: underline;
}

.admin-list {
    font-size: 14px;
}

.admin-list > li {
    font-weight: bold;
}

.admin-list li li {
    font-weight: normal;
    margin-left: 30px;
    margin-bottom: 10px;
}

.messages div {
    display: none;
}

.messages .success,
.messages .error {
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    min-height: 30px;
    line-height: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.messages .success {
    background: #B2D035;
}

.messages .error {
    background: #EE1423;
}


/* FLOAT WINDOW */
.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 9999;
}

.popup_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background: #fff;
    width: 400px;
    min-width: 200px !important;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close:hover {
    color: #FE8A02;
}

label {
    color: #FE8A02;
    font-weight: bold;
}

input,
select,
textarea {
    font-family: "GothamPro";
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 0;
    border-bottom: 1px solid #333;
    margin: 10px 0 20px;
}

select,
textarea {
    border: none;
    border-bottom: 1px solid #333;
}

button {
    margin: 30px auto 0;
}

input[type=checkbox],
input[type=radio] {
    float: left;
    width: 17px;
    height: 17px;
    opacity: 0;
    margin: 0 10px 0 0;
    position: relative;
    z-index: 1;
}

.checkbox-item,
.radio-item {
    display: inline-block;
    margin: 0 0 0 1em;
    margin-left: 30px !important;
    position: relative;
}

.checkbox-item span,
.radio-item span {
    font-size: 12px;
    font-weight: 600;
    color: #090c14;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: -1.4px;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #333;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.checkmark:after {
    content: url(/images/check.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -mos-transform: translate(-50%, -50%);
    display: none;
}

.checkbox-item input:checked ~ .checkmark:after,
.radio-item input:checked ~ .checkmark:after {
    display: block;
}

.additional-field {
    opacity: 0;
    height: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.visible {
    opacity: 1;
    height: auto;
}

/* ADD NEW PARTNER PAGE */
.add-partner img {
    height: 20px;
    position: absolute;
    left: 15px;
}

.margin-t-30 {
    margin-top: 30px;
}

.padding-l-25 {
    padding-left: 30px;
}

.alert {
    color: red;
    font-weight: bold;
    margin-bottom: 30px;
}

.alert li {
    margin-bottom: 20px;
}

.alert li:last-child {
    margin-bottom: 0;
}

/* LISTING */
.service-block {
    border: 1px solid #b1d236;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 7px 7px rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.service-block:hover {
    background: rgba(0, 0, 0, 0.02);
}

/* .service-block h3,
.service-block h6 {
    width: 70%;
} */

.service-block h6 {
    margin-bottom: 0 !important;
}

.service-block p {
    font-size: 14px !important;
}

.service-block .title {
    margin-bottom: 10px;
    display: block;
    color: #ffc64b;
}

.service-block span {
    font-weight: 600;
}

.service-block hr {
    border-top: 2px solid #ec7f00;
}

/* .service-block .button {
    position: absolute;
    right: 15px;
    top: 10px;
    margin: 0;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0;
} */
.service-block .button {
    margin: 0;
    margin-right: 15px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px) {
    .service-block .button {
        margin: 15px;
        margin-bottom: 0;
    }
}

@media (max-width: 467px) {
    .service-block .button {
        max-width: unset;
        width: 100%;
        /* margin: 15px; */
    }
}

.services .hidden {
    display: none;
}

.services .filtered {
    display: none !important;
}

.pagination {
    text-align: center;
}

.pagination ul {
    display: inline-flex;
}

.pagination li {
    padding: 0 2px;
    cursor: pointer;
}

.pagination li:hover,
.pagination .active {
    text-decoration: underline;
}

.sort {
    right: 100px;
    position: absolute;
    top: 0;
    display: block;
}

.sort div {
    text-align: right;
}

.sort ul {
    display: none;
    background: #ffffff;
    padding: 10px 15px;
    width: 200px;
    z-index: 999999;
    position: absolute;
    right: 0px;
    border: 1px solid #333;
}

.sort:hover ul {
    display: block;
}

.sort li {
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.sort li:hover {
    color: #b1d236;
}

.filter {
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.filter:hover {
    color: #b1d236;
}

.filters {
    position: absolute;
    right: -250px;
    top: 35px;
    width: 250px;
    min-height: 250px;
    max-height: 100%;
    opacity: 0;
    padding: 15px;
    background: #fff;
    z-index: 999;
    box-shadow: 0px 2px 7px 7px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    overflow-y: auto;
}

.filters .button {
    margin: 0 auto;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0;
}

.list-btn {
    position: absolute;
    margin: 0;
    top: -10px;
    left: 200px;
}

/* CP Yearly Plans Page */
#new-plan-btn {
    position: absolute;
    top: -10px;
    margin: 0;
    right: 15px;
}

.plans-list {
    font-size: 12px;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
}

.plans-list tr {
    border-bottom: 1px solid #333333;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    overflow-y: auto;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.plans-list tr:hover {
    background: #FE8A02;
    color: #fff;
}

.plans-list tr:first-child,
.plans-list tr:first-child:hover {
    background: #B2D035;
    color: #fff;
}

.plans-list th {
    padding: 10px 5px;
    vertical-align: middle;
}

.plans-list td {
    padding: 10px 5px;
    text-align: center;
    border-bottom: 1px solid #333333;
}

.plans-list td:nth-child(2) {
    text-align: left;
}

.btn-edit-plan {
    color: #007bc2;
    cursor: pointer;
}

.btn-edit-plan:hover {
    text-decoration: underline;
}

.comment {
    font-style: italic;
    font-size: 14px;
}

.radio-btn {
    margin-bottom: 20px;
}

/*Partybooker contacts details */
.contacts form {
    display: inline-block;
    width: 100%;
}

.contacts label {
    width: 100%;
    display: block;
}

.contacts input {
    width: 60%;
    float: left;
    margin-right: 20px;
}

.contacts button {
    margin: 10px 20px 0;
    height: 31px;
    line-height: 31px;
    padding: 0;
    min-width: 80px;
    text-transform: initial;
}

.lang-tab {
    display: none;
}

/* NOTE Editor */
.note-editor {
    border: none !important
}

.note-editor button {
    min-width: auto;
    padding: 5px;
    line-height: 1;
    height: auto;
}

.panel-default > .panel-heading {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #333 !important;
}

.lang-nav {
    margin-bottom: 15px;
}

.lang-nav ul {
    display: inline-flex;
}

.lang-nav li {
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.lang-nav li:hover,
.lang-nav .active {
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.15);
    color: #FE8A02;
}

/*FAQs page */
.faq-nav .active {
    color: #FE8A02 !important;
}

.faq-nav .active:before {
    width: 100%;
}

.faqs-list .faq {
    margin-bottom: 15px;
    position: relative;
}

.faqs-list .faq:last-child {
    margin-bottom: 0px;
}

.faqs-list .faq .question {
    background: #FE8A02;
    color: #fff;
    padding: 10px 50px 10px 30px;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.faqs-list .faq .question:hover {
    background: #B2D035;
}

.faqs-list .faq .answer {
    padding: 10px 30px;
    display: none;
}

.faqs-list .hidden {
    display: none !important;
}

#new-faq .popup_form,
#edit-faq .popup_form {
    width: 600px;
}

#new-faq label img,
#edit-faq label img {
    height: 20px;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.del,
.edit {
    width: 16px;
    height: 16px;
    background: red;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
}

.edit {
    background: #fff;
    border-color: #B2D035;
    top: 10px;
    right: 26px;
}

.del:hover,
.edit:hover {
    border-color: #333;
}

.del:before,
.del:after,
.edit:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 1px;
    background: #fff;
    top: 50%;
    left: 50%;
}

.edit:before {
    background: #B2D035;
}

.del:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.del:after,
.edit:before {
    transform: translate(-50%, -50%) rotate(315deg);
}

.del:hover:before,
.del:hover:after,
.edit:hover:before {
    background: #333;
}

/*MESSAGES page */
.form-nav .active {
    color: #FE8A02 !important;
}

.form-nav .active:before {
    width: 100%;
}

.form-messages table {
    font-size: 12px;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
}

.form-messages ul {
    border-bottom: 1px solid #333333;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    overflow-y: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
}

.form-messages ul:hover {
    background: #FE8A02;
    color: #fff;
}

.form-messages li {
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}

.form-messages .unread {
    background: #B2D035;
    color: #fff;
}

#view-message h5 {
    color: #FE8A02;
}

#view-message .hidden {
    display: none;
}

#view-message p {
    margin-bottom: 15px !important;
}

.dropzone {
    height: 100px;
    margin-bottom: 15px;
}

label input[type=file] {
    position: absolute;
    left: 15px;
    opacity: 0;
    bottom: 0;
    width: 100%;
}

label .button {
    position: absolute;
    font-size: 12px;
    right: 20%;
    top: 0;
    height: 37px;
    line-height: 37px;
    min-width: 122px;
    padding: 0 15px;
    text-transform: none;
    box-shadow: 0px 0px 15px 4px rgba(19, 19, 19, 0.15);
    z-index: 1;
    transition: 0.3s;
}

label .zone {
    line-height: 70px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    height: 70px;
    border: 1px dashed #333;
    padding: 0 15px 0 55px;
    cursor: pointer;
    text-align: center;
}

label .zone:before {
    content: url(../images/upload.png);
    position: absolute;
    left: 35%;
    top: 25px;
    line-height: 1;
}

#filename {
    margin-top: 12px;
    color: #333;
    line-height: 70px;
    padding: 0 15px 0 55px;
    text-align: center;
}

/* BLOG */
.blog-list ul {
    border-bottom: 1px solid #333333;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    overflow-y: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    color: #333;
}

.blog-list ul:hover {
    background: #FE8A02;
    color: #fff;
}

.blog-list a {
    text-decoration: none;
}

.blog-list li {
    padding: 10px 5px;
    text-align: left;
}

.blog-list ul li:first-child {
    width: 25%;
}

.blog-list ul li:nth-child(2) {
    width: 60%;
}

.blog-list ul li:last-child {
    width: 15%;
}

.border-left {
    border-left: 2px solid #333333;
}

.post-title {
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 24px;
    font-family: "GothamPro";
    font-weight: 700;
}

.note-editor.note-frame .note-editing-area .note-editable {
    min-height: 150px;
}

.mb-30 {
    margin-bottom: 30px;
}

.img-prev {
    max-height: 250px;
    overflow: hidden;
    margin-top: 30px;
    position: relative;
}

.img-prev .del {
    top: 65px;
    right: 10px;
}

#btn-post {
    min-width: 100%;
    padding: 0;
    height: 40px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 30px;
}

.status ul {
    margin-bottom: 30px !important;
}

#draft,
#publish,
#delete {
    cursor: pointer;
    color: #007bc2;
    text-decoration: underline;
    webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#publish,
#delete {
    font-weight: bold;
    text-transform: uppercase;
}

#draft:hover,
#publish:hover,
#delete:hover {
    color: #e96900;
}

#delete {
    margin-top: 20px;
}

.st li {
    font-weight: bold;
}

.st span {
    font-weight: normal;
    color: red;
}

.st .ok {
    color: #b1d236;
}

#remove-post button {
    color: #fff;
    margin: 20px auto 0;
}

/* RESPONSE */
@media (max-width: 991px) {
    #filename {
        text-align: left;
    }

    label .button {
        right: 30px;
    }

    label .zone:before {
        left: 20px;
    }

    label .zone {
        text-align: left;
    }

    .header-navigation li,
    .greeting li {
        margin-left: 25px;
    }

    .qab .button {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1200px) {

    .st {
        width: 50%;
        float: left;
    }

    .img-prev {
        width: 50%;
        margin-bottom: 20px;
        float: left;
    }

    [page=post] .logo {
        padding-top: 0;
    }

    .form-messages li:first-child {
        display: none;
    }

    #new-faq-btn {
        margin: 30px auto;
    }

    .faq-nav,
    .form-nav {
        display: block !important;
    }

    .form-nav {
        margin-bottom: 30px;
    }

    .popup_form {
        width: 100% !important;
    }

    .contacts input {
        width: 80%;
    }

    #page {
        min-height: calc(100vh - 30px);
    }

    .list-btn {
        position: relative;
        left: auto;
        font-size: 12px;
        padding: 0;
        line-height: 40px;
        height: 40px;
        margin-bottom: 10px;
    }

    .mobile-opener {
        display: block;
    }

    .service-block {
        padding: 15px;
    }

    .checkbox-item,
    .radio-item {
        display: block;
        margin-top: 15px !important;
    }

    .setting-nav {
        display: none;
    }

    .border-right {
        border-right: none;
    }

    .border-left {
        border-left: none;
    }

    #page {
        padding-top: 110px;
    }

    .lang {
        position: absolute !important;
        top: 15px;
        right: 20px;
        margin: 0 !important;
    }

    .lang:last-child {
        top: 50px;
    }

    .header-navigation li > .submenu {
        display: block !important;
        position: relative;
        width: 100%;
        max-width: 100%;
        left: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border-top: none;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .header-navigation li:hover > .submenu {
        height: auto;
        padding: 15px;
        border-top: 1px solid #fff;
    }

    .header-navigation .hassub > a:after {
        content: '';
        position: relative;
        border-top: 5px solid #fff;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        top: 12px;
        margin-left: 10px;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .header-navigation .hassub:hover > a:after {
        border-top: 5px solid #FE8A02;
    }

    .header-navigation ul {
        display: block;
        float: none;
        margin-top: 20px;
        border-top: 1px solid #fff;
    }

    .header-navigation li,
    .greeting li {
        float: none;
        margin-left: 0;
        text-align: center;
        line-height: 50px;
    }

    .greeting ul {
        position: relative;
        display: block;
        float: none;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: calc(100% - 60px);
        left: 0px;
        top: 60px;
        background: rgba(0, 0, 0, 0.85);
        padding: 20px 15px;
        z-index: 99999;
        overflow: auto;
    }


    .logo {
        line-height: 60px;
        padding: 0;
    }

    .logo img {
        height: 40px;
    }

    header {
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    .menu {
        display: none;
    }
}

@media (max-width: 575px) {
    .form-messages li:last-child {
        display: none;
    }

    .contacts input {
        width: 100%;
    }

    .contacts button {
        margin: 10px 0px 20px;
    }

    /* .service-block h3,
    .service-block h6 {
        width: 100%;
    } */
    /* .service-block .button {
        min-width: auto;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        top: auto;
        right: auto;
        margin: 0 auto;
        position: relative;
    } */
    footer {
        height: 60px;
        text-align: center;
    }

    .rights,
    .created {
        float: none;
    }
}

@media (max-width: 440px) {
    .dropzone {
        height: 150px;
    }

    label .zone {
        height: 120px;
    }

    label .button {
        position: relative;
        right: auto;
        top: auto;
        margin: 70px auto 0;
    }

    #filename {
        text-align: left;
        position: absolute;
        top: 30px;
        margin-top: 0;
    }
}

@media (max-height: 700px) {
    .popup {
        padding: 50px 0;
        overflow: auto;
    }

    .popup_form {
        position: relative;
        top: 0;
        transform: translateX(-50%);
    }
}

input#map_address {
    background: url(../images/map-marker.png);
    background-position-x: 8px;
    background-position-y: 50%;
    padding-left: 27px;
    padding-right: 10px;
    text-overflow: ellipsis;
    background-repeat: no-repeat;
}


/* /////////////////////////////////////////// */
/*                                             */
/*                  CARD STYLE                 */
/*                                             */
/* /////////////////////////////////////////// */

.card-block .card {
    display: block;
    position: relative;
    margin-bottom: 40px;
}


.card-block .card a {
    display: block;
}

.card-block .card:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #33333340;
    left: 0;
    bottom: 0;
    position: absolute;
}


.card-block .card a img {
    width: 100%;
    height: 250px;
    transition: 0.4s;
}

.card-block .card a img:hover {
    transform: scale(1.01);
}


.card-block .card-body {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #333333;
    font-family: "GothamPro";
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-block a .card-title {
    width: 100%;
    text-decoration: none !important;
}

.card-block a:hover {
    text-decoration: none !important;
}

.card-block .card-body .button {
    width: 48%;
    max-width: unset;
    min-width: unset;
    margin: 0;
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button.btn-remove,
.card-block .card-body .btn-remove {
    background-color: #d43f3a;
}

.button.btn-remove:hover,
.card-block .card-body .btn-remove:hover {
    background-color: #c9302c;
}
